@font-face {
    font-family: "Sukar Regular";
    src: url('fonts/suker/Sukar-Regular.eot');
    src: url('fonts/suker/Sukar-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/suker/Sukar-Regular.svg#Sukar-Regular') format('svg'),
    url('fonts/suker/Sukar-Regular.woff') format('woff'),
    url('fonts/suker/Sukar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sukar Bold";
    src: url('fonts/suker/Sukar-Bold.eot');
    src: url('fonts/suker/Sukar-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/suker/Sukar-Bold.svg#Sukar-Bold') format('svg'),
    url('fonts/suker/Sukar-Bold.woff') format('woff'),
    url('fonts/suker/Sukar-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sukar Black";
    src: url('fonts/suker/Sukar-Black.eot');
    src: url('fonts/suker/Sukar-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/suker/Sukar-Black.svg#Sukar-Black') format('svg'),
    url('fonts/suker/Sukar-Black.woff') format('woff'),
    url('fonts/suker/Sukar-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



html, body {
	direction: rtl;
	font-family: "Sukar Regular";
}
.menu ul > li > a, .language, #subscription-top h4, .subscribe_section h1, .subscribe_section h4, .app-service1 h2, .app-service2 h2, .app-service1 h4, .app-service2 h4, .store-list h1, .store-list h4, #footer h3, #footer p, #footer span, #footer a{
	font-family: "Sukar Regular" !important;
}
.item-inner > a{
	font-family: "Sukar Regular" !important;
	font-size:23px;
}
.app-service1 p, .app-service2 p, #subscription-top h4{
	font-size:20px;
}
.pull-right, nav.menu {
   float: left !important;
}
nav .social-menu {
	right: auto !important;
	left: 10px !important;
}

#subscription-top {
/*left: 50px;
	right: auto*/
    
}
 
#subscription-top h4 a i, .subscribe-btn{
	transform: rotate(180deg)
}
.carousel-inner {
	right: 5%;
}
.pull-left, .menu > ul li, .navbar-nav, .store-btn-apple, .store-btn-app, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: right !important;
}
.col-xs-offset-1 {
	margin-right: 8.33333%;
	margin-left: 0%;
}
.scrollup {
	left: 15px;
	right: auto;
}
.store-btn-app.btn-adj-ar {
  margin-right:10px;
}
.videobox2 .vidopts ul li, .videobox1 .vidopts ul li{
	float: right !important;
	margin-right: 0px;margin-left: 20px;
}
.videobox2 .vidopts ul li:last-child, .videobox2_sm .vidopts ul li:last-child, .videobox1 .vidopts ul li:last-child, .videobox1_sm .vidopts ul li:last-child {
    margin-left: 0;
    float: left !important;
}
.videobox2_sm .vidopts ul li, .videobox1_sm .vidopts ul li{
	float: right !important;
	margin-right: 0px;margin-left: 5px;
}
.footer-top a i{
	float: right;
    margin-left: 10px;
}
.input-group .form-control {
	font-family: "Sukar Regular" !important;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.pull-right > .dropdown-menu {
    left: 0;
    right: auto;
}
/************page categories*****************/

.widget.category ul li {
	margin-right: 15px;
    padding: 15px 50px 15px 0  ;
}

.widget.category ul li a, h2.title, h2, h4, .pagination > li > a, .pagination > li > span, input.form-control.reg, textarea.form-control.reg, [class^="btn-theme-"], [class*="btn-theme-"], .radio label, .radio a, .checkbox label, .checkbox a{
	font-family: "Sukar Regular" !important;
}
.sidebar ul.slide li:hover {
    padding-right: 55px;
}
[class^="bg-cat-"], [class*="bg-cat-"] {
	background:url(../img/categories-list_ar.png) 0 0 no-repeat transparent;
	width:80px;
	top:-14px;
	right: -27px;
	height:85px;
	position:absolute;background-size:100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: all 0.2s ease-in-out 0s;
}


.bg-cat-1 {
	/*top: -14px;*/
	background-position: 0 0;
}
.bg-cat-2 {
	/*top: 72px;*/
	background-position: 0 -94px;
}
.bg-cat-3 {
	/*top: 156px;*/
	background-position: 0 -188px;
}
.bg-cat-4 {
	/*top: 242px;*/
	background-position: 0 -282px;
}
.bg-cat-5 {
	/*top: 328px;*/
	background-position: 0 -376px;
}
.bg-cat-6 {
	/*top: 416px;*/
	background-position: 0 -470px;
}
.bg-cat-7 {
	/*top: 504px;*/
	background-position: 0 -564px;
}
.bg-cat-8 {
	/*top: 592px;*/
	background-position: 0 -658px;
}

.sidebar ul.slide li:hover [class*="bg-cat-"]{
    right:-12px !important;
    transition: all 0.2s ease-in-out 0s;
}
.main-content p, .content p {
    text-align: right;
}
.widget.category ul li a {
    padding-right: 20px;
}
/**********SUBSCRIPTION************/
.checkbox label::before {
  left: auto; right:0;
  margin-right: 0px;
}
.checkbox label::after {
  left: auto; right: 3px;
  margin-right: 0px;
  padding-right: 3px;
   }
.radio label, .checkbox label {
   padding-right: 44px;
}
.col-xs-offset-2 {
    margin-right: 16.6667%;
}
.nav-tabs > li {
    float: right;
}
/***********************/
/*****************************/
@media (max-width: 1000px) { 
.logo h1 {
    margin: 13px 0;
    overflow: hidden;
    width: 70px;
}
.logo.pull-left a {
    display: block;
    width: 271px;
    padding-right: 16px;
}
.menu ul > li > a {
    padding: 34px 5px 5px;
}
.logo.pull-left {
    margin: 0 0 3px;
}
.col-xs-offset-1 {
   margin-right: 0;
}
}