@font-face {
	font-family: 'gooddog_plainregular';
	src: url('fonts/goodog/gooddp__-webfont.eot');
	src: url('fonts/goodog/gooddp__-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/goodog/gooddp__-webfont.woff2') format('woff2'),  url('fonts/goodog/gooddp__-webfont.woff') format('woff'),  url('fonts/goodog/gooddp__-webfont.ttf') format('truetype'),  url('fonts/goodog/gooddp__-webfont.svg#gooddog_plainregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/********icomoon**********/
@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon/icomoon.eot?7ttjjy');
	src: url('fonts/icomoon/icomoon.eot?7ttjjy#iefix') format('embedded-opentype'),  url('fonts/icomoon/icomoon.ttf?7ttjjy') format('truetype'),  url('fonts/icomoon/icomoon.woff?7ttjjy') format('woff'),  url('fonts/icomoon/icomoon.svg?7ttjjy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-like:before {
	content: "\e900";
}
.icon-time:before {
	content: "\e901";
}
.icon-view:before {
	content: "\e902";
}
.icon-playstore:before {
	content: "\e903";
}
.icon-appstore:before {
	content: "\e904";
}
.icon-arrow-right:before {
	content: "\e905";
}
.icon-games:before {
	content: "\e906";
}
.icon-subscribe:before {
	content: "\e907";
}
.icon-home:before {
	content: "\e908";
}
.icon-watch:before {
	content: "\e909";
}
.icon-dots:before {
	content: "\e90a";
}
/******************/

body {
	color: #767676;
	background: #F1F2F7;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	/*line-height: 24px;*/
}
body.boxed header {
	width: 100%;
}
.wrap {
	overflow: hidden;
}
nav {
	position: relative;
}
img {
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #777777;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
h1, h2, h3 {
	margin: 0 0 25px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 22px;
	position: relative;
}
h4 {
	font-size: 18px;
	position: relative;
}
h3.title {
	overflow: hidden;
	line-height: 28px;
	font-weight: 400;
}
h3.title:after {
	background: url(../img/bg_off.png) repeat;
	content: "";
	height: 5px;
	margin-left: 10px;
	position: absolute;
	top: 12px;
	width: 99%;
}
.bg-overlay1 {
	/*background: rgba(0, 0, 0, 0.6);*/
	padding: 80px 0 60px;
}
.bg-overlay3 {
	/*background: rgba(0, 0, 0, 0.6);*/
	padding: 60px 0 30px;
}
.bg-overlay2 {
	/*background: rgba(0, 0, 0, 0.6);*/
	padding: 160px 0 60px;
}
.bg-overlay {
	background: rgba(0, 0, 0, 0.6);
	padding: 80px 0 60px;
}
.bg-overlay1.category-bottom:after {
	content: "";
	background: url(../img/header_bottom.png) center top no-repeat;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 8px;
	background-size: 100%
}
.category-list h3.title:after, .service-reasons h3.title:after {
	background: none;
}
.category-list h3.title, .service-reasons h3.title {
	color: #fff;
}
.category-list, .service-reasons {
	background: url(../img/img-blur-client.png) 50% 0 no-repeat fixed;
	margin: 0 auto;
	background-position: center center;
	background-size: cover;
}
.category-list.inner{
	background: url(../img/categories-list-inner.png) top center no-repeat #81c0ea !important;
	background-size:100% auto;
}
.product-lead {
	background: url(../img/img-blur-lead.jpg) 50% 0 no-repeat fixed;
	margin: 0 auto;
	background-position: center center;
	background-size: cover;
}
.videos-list1 {
	background: url(../img/img-blur-lead.jpg) 50% 0 no-repeat fixed;
	margin: 0 auto;
	background-position: center center;
	background-size: cover;
}
.videos-list2 {
	background: url(../img/img-blur-lead1.jpg) 50% 0 no-repeat;
	margin: 0 auto;
	background-position: top center;
	background-size: cover;
}
.store-list {
	background: url(../img/bg_app.png) 50% 0 repeat-x;
	margin: 0 auto;
	background-position: top left;
}
.subscribe_section {
	background: url(../img/img-blur-subscribe.png) 50% 0 no-repeat;
	margin: 0 auto;
	background-position: center center;
	background-size: cover;
}
.subscribe_section.inner {
	background: url(../img/img-blur-subscribe-inner.png) 50% 0 no-repeat;
	margin: 0 auto;
	background-position: center bottom;
	background-size: 100%;
	background-color:#dfefff;
}
.subscribe_section_top {
	background: url(../img/top_border.png) center top no-repeat transparent; /*323B44
	border-bottom: 1px solid #414f5a;*/
	color: #A1A1A1;
	padding: 20px 0;
	background-size: 100%
}
.subscribe_section_top.inner {
	background: url(../img/top_border_inner.png) center top no-repeat transparent; /*323B44
	border-bottom: 1px solid #414f5a;*/
	color: #A1A1A1;
	padding: 20px 0;
	background-size: 100%
}
.subscribe_section h1 {
	color: #2f8db4 !important;
	font-family: "gooddog_plainregular";
	font-weight: 600;
	font-size: 35px;
}
.subscribe_section h4 {
	font-family: 'Fredoka One', cursive;
	font-size: 20px;
	color: #47a7cf !important;
}
.store-list h1 {
	color: #fff !important;
	font-family: "gooddog_plainregular";
	font-weight: 600;
	font-size: 45px;
}
.store-list h4 {
	font-family: 'Fredoka One', cursive;
	font-size: 20px;
	color: #feccb4 !important;
}
.client, .service-reasons {
	position: relative;
	overflow: hidden;
}
ul, li, ol {
	line-height: 24px;
	margin: 0;
}
#style-switcher ul, #style-switcher ul li {
	list-style: none;
	padding: 0;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #777777;
}
.btn-special, .btn-normal, .btn-small, .btn-large, .comment-des, .steps .popup, .testimonial p, .contact-box {
	border-radius: 3px;
}
/* Header */
#header .main-header {
	min-height: 83px;
	z-index: 9999;
	width: 100%;
	position: relative;
	background: #fff; /*252C34 #323B44
    -webkit-box-shadow: 0 3px 3px -3px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px -3px rgba(0,0,0,0.2);*/
}
#header .main-header:after {
	content: "";
	background: url(../img/header_bottom.png) center top no-repeat;
	position: absolute;
	bottom: -8px;
	left: 0px;
	width: 100%;
	height: 8px;
	background-size: 100%
}
header .top-bar {
	min-height: 30px;
	background: #272727;
	border-bottom: 1px solid #414f5a;
	padding: 7px 0;
	line-height: 38px;
}
.topnav .navbar-toggle i {
	line-height: 20px;
}
.phone-email {
	padding: 3px 0;
}
.phone-email a {
	margin-right: 20px;
}
.phone-email i.icon-phone {
	font-size: 14px;
}
.phone-email i {
	margin-right: 7px;
}
header .social, footer .social {
	margin-right: 4px;
	line-height: 44px;
}
header #search-form {
	line-height: 44px;
}
footer .social li:last-child, footer .social {
	margin-right: 0 !important;
}
header .social li, footer .social li {
	background-color: transparent;
	border: 2px solid #fafafa;
	border-radius: 100% 100% 100% 100%;
	display: inline-block;
	height: 35px;
	margin-right: 5px;
	width: 35px;
	line-height: 30px;
	text-align: center;
	background: transparent;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	padding: 1px;
	cursor: pointer;
}
header .social i, footer .social i {
	color: #fff;
	-webkit-transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-o-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	transition: color .5s ease-in-out;
}
#search-form input.search-text-box {
	background-color: transparent;
	border: 2px solid #FAFAFA;
	background-image: url(../img/search-icon.png);
	background-position: 8px 56%;
	background-repeat: no-repeat;
	color: #fafafa;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 0 0 0 30px;
}
#search-form .search-text-box:focus {
	font-size: 14px;
	background-color: transparent;
	width: 170px;
	height: 35px;
	color: #fafafa;
	cursor: text;
	text-align: left;
	padding: 0 15px 1px 30px;
}
header .main-header {
	display: block;
	position: relative;
	text-align: left;
}
.logo {
	height: 80px;
}
.logo h1 {
	margin: 13px 0;
}
.navbar-fixed-top {
	position: fixed !important;
}
.main-header .navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}
h1 i, h2 i, h3 i, h4 i, h5 i {
	margin-right: 7px;
}
.box-bg {
	background: #fff;
	margin-bottom: 25px;
	padding: 10px 15px;
	border-radius: 4px;
}
/* Breadcrumbs */
.breadcrumb-wrapper, .login-page, .register-page {
	background: #fff; position:relative
}
.breadcrumb-wrapper.page-heading{
	background-color:#81c0ea;
}
h2.title {
	color:#8e431f;
	font-family: 'Fredoka One', cursive;
	font-size: 26px;
	line-height: normal;/* 40px;*/
	margin: 10% 0 20px;
}
.breadcrumbs {
	margin: 24px 0;
}
.breadcrumbs ul li {
	display: inline-block;
	line-height: 24px;
	font-size: 13px;
	color: #9e9e9e;
	margin: 0 0 0 5px;
}
.breadcrumbs ul li a {
	color: #898989;
	font-weight: 600;
}
.breadcrumbs ul li:first-child {
	margin-left: 2px !important;
}
.breadcrumbs ul li:nth-child(2):before, .breadcrumbs ul li:first-child:before {
	content: " ";
	margin: 0;
}
.breadcrumbs ul li:before {
	color: #9e9e9e;
	content: "\f105";
	font-family: FontAwesome;
	font-size: 12px;
	margin: 0 9px 0 0;
}
/* Slider */
.fullwidthbanner-container {
	width: 100% !important;
	position: relative;
	max-height: 470px !important;
	overflow: hidden;
	background-image: url(../img/loader.gif);
	background-repeat: no-repeat;
	background-position: 50%;
	padding: 0;
}
.tp-leftarrow.default, .nivo-prevNav {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: transparent;
	border-color: #eee;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	padding-top: 20px !important;
	width: 45px;
	height: 60px;
	text-align: center;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	-khtml-opacity: 0;
	-moz-opacity: 0;
	visibility: visible;
}
.tp-leftarrow.default:before, .nivo-prevNav:before {
	content: "\f053";
	font-family: FontAwesome;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	color: #fafafa;
	text-align: center;
	visibility: visible;
}
.tp-rightarrow.default, .nivo-nextNav {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: transparent;
	border-color: #eee;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	padding-top: 20px !important;
	width: 45px;
	height: 60px;
	text-align: center;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	-khtml-opacity: 0;
	-moz-opacity: 0;
	visibility: visible;
}
.tp-rightarrow.default:before, .nivo-nextNav:before {
	content: "\f054";
	font-family: FontAwesome;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	color: #fafafa;
	text-align: center;
	visibility: visible;
}
.nivo-caption h2 {
	margin: 0;
	line-height: 60px;
}
/* Buttons */
.btn:hover, .btn:focus {
	color: #fff;
}
.btn-default {
	font-family: 'Fredoka One', cursive;
	height: 44px;
	background: #EEEEEE;
	text-shadow: none;
	box-shadow: none;
}
.btn-default:hover, .btn-default:focus {
	background: #E0E0E0;
}
.btn-pad {
	margin: 7px;
}
.btn-grey {
	color: #767676 !important;
	outline: 0;
	white-space: nowrap;
	word-wrap: normal;
	cursor: pointer;
	background-color: #fff;
	text-shadow: none !important;
}
.btn-grey:hover {
	background: #E0E0E0;
}
.btn-color, .btn-grey {
	-webkit-transition: all .5s ease-in-out !important;
	-moz-transition: all .5s ease-in-out !important;
	-o-transition: all .5s ease-in-out !important;
	-ms-transition: all .5s ease-in-out !important;
	transition: all .5s ease-in-out !important;
}
.btn-color {
	color: #fff !important;
}
.btn-special {
	border-radius: 4px;
}
.btn-special {
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	outline: none;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.btn-normal {
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	padding: 12px 30px;
}
.btn-small {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	padding: 7px 20px;
}
.btn-large {
	display: inline-block;
	cursor: pointer;
	font-size: 20px;
	padding: 17px 50px;
}
.btn-theme {
	color:#707c8f;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	font-weight:600;
	padding: 5px 20px;
	margin:5px 0 0;
	height:auto !important;
	border-radius:40px;
}
/* Main Content */
#main {
	background-color: #F1F2F7;
	padding: 0 0 60px;
}
.home #main, .home-3 #main, .home-4 #main, .page-services #main, .about #main {
	padding: 0;
}
/*Blog page*/

.page article.post {
	border-bottom: none;
}
.post-header h3.content-title {
	text-align: left !important;
	margin-bottom: 15px;
}
.blog-entry-meta {
	font-size: 0;
}
.blog-entry-meta-date {
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 10px;
	font-size: 14px;
	vertical-align: top;
}
.blog-entry-meta-author {
	display: none;
	margin-right: 15px;
	margin-bottom: 10px;
	font-size: 14px;
	vertical-align: top;
}
.blog-entry-meta-tags {
	display: none;
	margin-right: 25px;
	margin-bottom: 10px;
	font-size: 14px;
	vertical-align: top;
}
.blog-entry-meta-comments {
	display: none;
	margin-bottom: 10px;
	font-size: 14px;
	vertical-align: top;
}
ol.commentlist, ol.commentlist li {
	list-style: none;
	padding: 0;
}
.blog-entry-meta i {
	margin-right: 4px;
}
.blog.meta_author .blog-entry-meta-author {
	display: inline-block;
}
.blog.meta_tags .blog-entry-meta-tags {
	display: inline-block;
}
.blog.meta_comments .blog-entry-meta-comments {
	display: inline-block;
}
.blog.meta_authortags .blog-entry-meta-author, .blog.meta_authortags .blog-entry-meta-tags {
	display: inline-block;
}
.blog.meta_authorcomments .blog-entry-meta-author, .blog.meta_authorcomments .blog-entry-meta-comments {
	display: inline-block;
}
.blog.meta_tagscomments .blog-entry-meta-tags, .blog.meta_tagscomments .blog-entry-meta-comments {
	display: inline-block;
}
.blog-entry-meta-author, .blog-entry-meta-tags, .blog-entry-meta-comments {
	display: inline-block;
}
.post-content {
	padding-bottom: 10px;
}
.blog-small article .post-image {
	float: left;
	width: 43%;
	margin-bottom: 25px;
}
.blog-small article .post-content-wrap {
	float: left;
	width: 50%;
	margin: 0 0 0 4%;
}
.post-date a.date {
	background: #fff;
	display: block;
	float: left;
	margin-right: 20px;
	padding: 10px 0 0;
	text-align: center;
	text-decoration: none;
	width: 55px;
	border-radius: 2px;
}
.post-date a.date strong {
	color: #1889C1;
	display: block;
	font-size: 27px;
	font-weight: normal;
	margin-bottom: 10px;
}
.post-date a.date i {
	background-color: #1889C1;
	border-top: 1px solid #F3F3F3;
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	font-style: normal;
}
.blog-small .blog-entry-meta-author, .blog-small .blog-entry-meta-tags, .blog-small .blog-entry-meta-comments {
	font-size: 11px;
}
/* Sidebar */
.sidebar ul.slide li {
	padding-left: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.sidebar ul.slide li:hover {
	padding-left: 5px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.sidebar p {
	text-align: left !important;
	margin: 0 0 2px;
}
.sidebar .widget, .widget {
	margin-bottom: 35px;
}
.widget ul {
	list-style: none;
	padding: 0;
}
.search-input {
	height: 44px !important;
	width: 218px;
}
/* Tabs */
#horizontal-tabs {
	margin-bottom: 30px;
}
#horizontal-tabs ul.tabs li {
	cursor: pointer;
	float: left;
	font-size: 15px;
	padding: 12px;
}
#horizontal-tabs ul.tabs li.current {
	background: #fff;
	cursor: default;
}
#horizontal-tabs ul.tabs {
	overflow: hidden;
	background: #E0E1E7;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#horizontal-tabs .contents {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #fff;
}
#horizontal-tabs .tabscontent.no-padding {
	padding-left: 0;
	padding-right: 0;
}
#horizontal-tabs .tabscontent {
	display: none;
	overflow: hidden;
	padding: 20px 20px 0;
}
.tabs ul.posts li {
	margin-bottom: 15px;
	padding-bottom: 10px;
	overflow: hidden;
	border-bottom: 1px solid #f8f8f8;
}
.tabs ul.posts li img {
	height: 68px;
	width: 68px;
	-webkit-transition: all .4s ease-in 0;
	-moz-transition: all .4s ease-in 0;
	-o-transition: all .4s ease-in 0;
	-ms-transition: all .4s ease-in 0;
	transition: all .4s ease-in 0;
	float: left;
}
.recent-post-img {
	margin: 0 13px 5px 0;
}
.sidebar .testimonials-title h3 {
	margin: 0 0 20px !important;
}
/*.category ul li:before {
	content: "\f105";
	font-family: FontAwesome;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	padding-right: 10px;
}*/
.widget.category ul li {
	margin-bottom: 7px;
	border-bottom: 1px solid #E0E1E7;
	padding: 3px 0;
}
.widget .ads-img img {
	margin-bottom: 30px;
	max-width: 100%;
}
/* Author Info */
.about-author {
	margin-top: 30px;
}
.author-content {
	padding: 20px;
}
.author-content .avatar {
	float: left;
	margin: 0 20px 0 0;
}
.avatar {
	border-radius: 100%;
}
.avatar img {
	border-radius: 100%;
}
.author-content .data {
	margin: -10px 0 0;
}
/* Comments Section */
.comments-sec {
	float: left;
	width: 100%;
	margin: -5px 0 25px;
}
ol.commentlist li {
	float: left;
	padding: 10px 0 15px;
}
ol.commentlist {
	float: left;
	width: 100%;
	margin: 0;
}
ol li ol.childlist {
	float: right;
	width: 86%;
	margin: 0;
}
ol.commentlist li ol.childlist li:first-child {
	padding: 25px 0 0;
}
ol.commentlist li:first-child {
	margin: 0 0 7px;
	padding: 25px 0 0;
}
.avatar img {
	float: left;
	max-width: 70px;
}
.comment-des p {
	line-height: 23px;
	margin: 0;
}
.comment-des {
	float: left;
	background: #fff;
	color: #888;
	margin: -70px 0 0 100px;
	padding: 19px 22px 22px;
}
.comment:before {
	position: absolute;
	display: block;
	content: "";
	margin-left: 93px;
	margin-top: 25px;
	width: 15px;
	height: 15px;
	background-color: #fff;
	border: none;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-right: none;
	border-top: 0;
	z-index: 1;
}
.comment-des strong {
	float: left;
	padding-right: 5px;
	font-size: 14px;
	color: #777777;
}
.comment-des span {
	float: left;
	color: #999;
}
.comment-by {
	float: left;
	width: 100%;
	padding-bottom: 8px;
	padding-top: 5px;
}
.comment-by span.reply {
	float: right;
	display: inline;
}
.comment-by span.reply a {
	float: right;
	height: 17px;
	margin-left: 5px;
	font-weight: 400;
	color: #999;
}
.comment-by span.reply a i {
	color: #bbb;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.comment-by span.reply a:hover, .comment-by span.reply a:hover i {
	color: #a0a0a0;
}
.comment-by span.date {
	color: #999;
	float: left;
	font-weight: 300;
	margin: 0 0 0 2px;
	padding: 0 0 0 9px;
}
.reply label {
	margin: 0 0 4px;
}
.reply label span {
	color: #e24747;
}
.reply input {
	margin: 0 0 20px;
}
.reply textarea {
	min-width: 97.5%;
	min-height: 180px;
	-webkit-resize: vertical;
	-moz-resize: vertical;
	-webkit-resize: vertical;
	-moz-resize: vertical;
	resize: vertical;
	margin: 0 0 18px;
}
/* Slogan Area */
.slogan {
	min-height: 100px;
	background: #fff;
	width: 100%;
}
.slogan-content {
	padding: 25px 0;
}
.slogan-title {
	display: inline-block;
	margin: 10px 0;
	font-size: 32px;
	font-weight: 300;
}
.page-services .slogan-content {
	padding: 40px 0;
}
.page-services .get-started {
	padding-top: 15px;
}
.get-started {
	padding-top: 1px;
	vertical-align: middle;
}
/* Product Lead Section*/
.theme-color{
	color:#8e431f !important;
}
.success-color{
	color:#56a571 !important;
}
.orange-color{
	color:#f86d44 !important;
}
.bg-orange-color{
	background-color:#f86d44 !important;
}
.white, .white-color {
	 color:#fff !important;
 }
.app-service1 h2 {
	color: #2d7198;
	font-family: "gooddog_plainregular";
	font-size: 35px;
	font-weight: 600;
}
.app-service1 h4 {
	color: #4085ad;
	font-family: "Fredoka One", cursive;
	font-size: 20px;
}
.app-service1 h4 span {
	color: #65aad1;
}
.app-service1 p {
	color: #688596;
	font-weight: 600;
	line-height: normal;
}
.app-service1 .learnmore a {
	color: #4085ad;
	font-family: "Fredoka One", cursive;
	font-size: 20px;
	display: block
}

.app-service1.theme-service h2, .app-service1.theme-service h4, .app-service1.theme-service .learnmore a {
	color: #8e431f;
}

.app-service1.theme-service h4 span{
	color: #707c8f;
}
.app-service1.theme-service p {
    color: #707c8f;
    line-height: 24px !important;
}


.app-service2 h2 {
	color: #fff;
	font-family: "gooddog_plainregular";
	font-size: 35px;
	font-weight: 600;
}
.app-service2 h4 {
	color: #fff;
	font-family: "Fredoka One", cursive;
	font-size: 20px;
}
.app-service2 h4 span {
	color: #d5e0ea;
}
.app-service2 p {
	color: #fff;
	font-weight: 600;
	line-height: normal;
}
.app-service2 .learnmore a {
	color: #fff;
	font-family: "Fredoka One", cursive;
	font-size: 20px;
	display: block
}
/* Main Content Boxes */
.main-content, .content {
	padding:140px 0 60px;
}
.content.category {
	/*background:url(../img/top_category.png) center top no-repeat;*/
	background-color:#d6f3ff;
	margin-top:0%;
}
.home-3 .main-content, .home-4 .main-content {
	margin: 45px 0 40px;
	padding: 0;
}
.main-content {
	margin: 45px 0 35px;
}
div.content-box {
	clear: both;
}
div.content-box div.content-box-info {
	padding-left: 135px;
}
div.content-box.big {
	padding: 0 20px 30px;
	border-radius: 5px;
	background: #fff;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}
div.content-box.big .ch-info-wrap {
	margin: -52px auto 35px;
	position: relative;
	left: auto;
	top: auto;
}
div.content-box.big:hover {
	background: #fff;
}
div.content-box.big div.content-box-info {
	padding-left: 0;
	text-align: center;
	margin: 25px 0 0;
}
div.content-box.big div.content-box-info p {
	text-align: center;
	margin-top: 25px;
}
.service-reasons div.content-box.big {
	transition: none;
	margin-top: 30px;
	border: 1px solid #fff;
}
.main-content h3 {
	color: #777777;
	line-height: 32px;
	margin: 0 0 5px;
}
.main-content p, .content p {
	text-align: left;
}
/* Box border and background */

.author-content, div.content-box.big, #cn-tabs .service, .comment-des, .contact-box {
	border-style: solid;
	border-width: 1px 1px 3px;
	background: #fff;
	border-color: transparent;
}
/*Graph Style*/

ul.graph-container {
	margin-left: 10em;
}
/*************************************
 *   Bars Fill                       *
 * Just an example of filling 3 bars *
 *************************************/
.graph-container > li:nth-child(1) .bar-inner {
	height: 25%;
	bottom: 0;
}
.graph-container > li:nth-child(2) .bar-inner {
	height: 50%;
	bottom: 0;
}
.graph-container > li:nth-child(3) .bar-inner {
	height: 75%;
	bottom: 0;
}
.graph-container > li:nth-child(4) .bar-inner {
	height: 85%;
	bottom: 0;
}
.graph-container > li:nth-child(5) .bar-inner {
	height: 90%;
	bottom: 0;
}
/* Portfolio */
ul#filters {
	list-style: none;
	padding: 0;
}
.portfolio-single .work-title h3 {
	margin-bottom: 20px !important;
}
.portfolio-wrap .item {
	width: 24.99%;
}
.portfolio-item-title.bg-color a {
	color: #fff;
	transition: none;
}
.item .item-inner, .post-image {
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
}
.post-image img, .img-content img {
	border-radius: 4px;
}
.img-content {
	float: left;
	margin: 5px 20px 20px 0;
}
.img-content img {
	width: 100%;
}
.post-image a {
	display: block;
	position: relative;
}
.post-image .nivoSlider a {
	position: absolute !important;
}
.portfolio .item .portfolio-item {
	margin-bottom: 30px;
}
/*Project details*/

.project_details span {
	border-bottom: 1px solid #E3E3E3;
	color: #454545;
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 5px 0;
	width: 100%;
}
.project_details strong {
	float: left;
	margin: 0;
	padding: 0;
	width: 40%;
}
.project_details em {
	float: left;
	font-style: normal;
	margin: 0;
	padding: 0;
	width: 60%;
}
.project_details span a {
	background-color: #fff;
	border-radius: 2px;
	color: #777777;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	margin: 0 0 5px 5px;
	padding: 3px 10px;
	display: inline-block;
}
.portfolio-desc h3, .portfolio-desc p {
	color: #fff;
}
.recentworks {
	background: url(../img/img-bg-blur.jpg) 50% 0 no-repeat fixed;
	margin: 0 auto;
	background-position: center center;
	background-size: cover;
}
/* Circular navigation */
.cn-wrapper {
	background: #fff;
	width: 26em;
	height: 26em;
	position: relative;
	z-index: 10;
	bottom: 0;
	left: 50%;
	overflow: hidden;
	margin-left: -185px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.cn-wrapper:after {
	content: "";
	display: block;
	height: 8px;
	width: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -4px;
	margin-left: -4px;
	border-radius: 50%;
	z-index: 11;
}
.cn-wrapper li {
	position: absolute;
	font-size: 1.5em;
	width: 10em;
	height: 10em;
	overflow: hidden;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	border: 1px solid #F1F2F7;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.cn-wrapper li a {
	display: block;
	font-size: 1.2em;
	height: 13.5em;
	width: 13.5em;
	position: absolute;
	bottom: -6.75em;
	right: -6.75em;
	overflow: hidden;
	text-decoration: none;
	-webkit-transition: background-color .3s ease, -webkit-transform .8s ease;
	-moz-transition: background-color .3s ease, -moz-transform .8s ease;
	-o-transition: background-color .3s ease, -o-transform .8s ease;
	-ms-transition: background-color .3s ease, -ms-transform .8s ease;
	transition: background-color .3s ease, transform .8s ease;
}
.cn-wrapper li a:hover, .cn-wrapper li a.active {
	background-color: #fff;
	-webkit-transition: background-color .5s ease;
	-moz-transition: background-color .5s ease;
	-o-transition: background-color .5s ease;
	-ms-transition: background-color .5s ease;
	transition: background-color .5s ease;
}
.cn-wrapper span {
	font-size: 1.3em;
}
/*Cirular Navigation Content*/
.cn-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
.circular-nav {
	overflow: hidden;
}
#cn-tabs .service {
	display: none;
	overflow: hidden;
	background: #fff;
	padding: 15px 25px;
	border-radius: 4px;
}
.cn-content {
	overflow: hidden;
}
.cn-content p {
	z-index: 9999;
}
#cn-tabs .service:before {
	position: absolute;
	display: block;
	content: "";
	top: 44%;
	right: -3px;
	width: 35px;
	height: 35px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-left: none;
	border-bottom: 0;
	z-index: 1;
}
/* Carousel Controls */

a.prev.disabled, a.next.disabled {
	cursor: default;
}
.carousel-controls-color {
	background: #fff;
}
.category-list .carousel-controls, .videos-list1 .carousel-controls1, .videos-list2 .carousel-controls2 {
	display: block;
	height: 25px;
	position: absolute;
	right: 0;
	top: 3px;
	width: 100%;
}
.carousel-controls a.next {
	right: 1px;
	top: 45px;
	position: absolute;
	z-index: 1;
	background: url(../img/next1.png) center center no-repeat;
	background-size: 60% 60%;
}
.carousel-controls a.prev {
	left: 1px;
	top: 45px;
	position: absolute;
	z-index: 1;
	background: url(../img/prev1.png) center center no-repeat;
	background-size: 60% 60%;
}
.inner .carousel-controls1 a.next {
	right: 1px;
	top: 45px;
	position: absolute;
	z-index: 1;
}

.inner .carousel-controls1 a.prev {
	left: 1px;
	top: 45px;
	position: absolute;
	z-index: 1;
}
.carousel-controls1 a.next {
	right: -20px;
	top: 45px;
	position: absolute;
	z-index: 1;
	background: url(../img/next2.png) center center no-repeat;
	background-size: 60% 60%;
}
.carousel-controls1 a.prev {
	left: -20px;
	top: 45px;
	position: absolute;
	z-index: 1;
	background: url(../img/prev2.png) center center no-repeat;
	background-size: 60% 60%;
}
.carousel-controls2 a.next {
	color: #568ab8;
	right: -20px;
	top: 45px;
	position: absolute;
	z-index: 1;
	background: url(../img/next3.png) center center no-repeat;
	background-size: 60% 60%;
}
.carousel-controls2 a.prev {
	color: #568ab8;
	left: -20px;
	top: 45px;
	position: absolute;
	z-index: 1;
	background: url(../img/prev3.png) center center no-repeat;
	background-size: 60% 60%;
}
.carousel-controls a.prev i, .carousel-controls a.next i, .carousel-controls1 a.prev i, .carousel-controls1 a.next i, .carousel-controls2 a.prev i, .carousel-controls2 a.next i {
	margin-top: 23px;
}
.carousel-controls a:hover.prev i, .carousel-controls a:hover.next i {
	color: #833b19;
}
.carousel-controls1 a:hover.prev i, .carousel-controls1 a:hover.next i {
	color: #244b61;
}
.carousel-controls2 a:hover.prev i, .carousel-controls2 a:hover.next i {
	color: #dbe1e3;
}
.item-inner > a {
	font-family: 'Fredoka One', cursive;
	font-size: 20px;
	color: #fff;
}
.item-inner > a:hover {
	color: rgba(255, 255, 255, 0.7)
}
a.prev, a.next {
	width: 70px;
	height: 70px;
	display: block;
	cursor: pointer;
	background: #323B44;
	color: #fafafa;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}
a.next {
	padding-left: 3px;
}
a.prev.disabled, a.next.disabled {
	display: block;
	cursor: default;
	background: #323B44;
	color: #fafafa;
	font-size: 20px;
	text-align: center;
}
/* Testimonials */
.testimonial p {
	background: #fff;
	font-weight: 500;
	margin: 0;
	padding: 27px 25px;
}
.category-list .testimonial p, .category-list .testimonials-arrow {
	border: none;
}
.testimonials-arrow {
	display: block;
	content: "";
	margin-top: -7px;
	margin-left: 45px;
	width: 14px;
	height: 14px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-bottom: 10px;
	border-top: 0;
}
.testimonial .author {
	margin: 0px 0 0 19px;
}
.testimonial-image {
	float: left;
	height: 70px;
	position: relative;
	width: 70px;
}
.testimonial-image img {
	border-radius: 50px;
	height: 70px !important;
	width: 70px !important;
	padding: 4px;
}
.category-list .testimonial-image img {
	border: none;
	padding: 0;
}
.category-list .testimonial-author-info {
	color: #ddd;
}
.testimonial-author-info {
	padding: 10px 0 0 90px;
	color: #777777;
}
.testimonial-author-info a {
	display: block;
}
.category-list .testimonial-author-info a {
	color: #fff;
}
span.color {
	font-size: 14px;
	font-weight: 700;
}
/* Footer */
#footer ul, #footer li {
	padding: 0;
	margin: 0;
}
.footer-top {
	background: url(../img/footer_top.png) center top no-repeat #fff; /*323B44
	border-bottom: 1px solid #414f5a;*/
	color: #A1A1A1;
	padding: 50px 0;
	background-size: 100%
}
#footer p, #footer span, #footer a {
	font-family: 'Fredoka One', cursive;
	color: #722e15 !important;
	font-weight: normal;
	font-size: 16px;
	  line-height: 25px !important;
}
#footer a:hover {
	color: #e98b0d !important;
}
.padding_tb {
	padding: 10px 0;
	display: block;
}
#footer h3 {
	font-family: 'gooddog_plainregular';
	font-size: 2.2em;
	font-weight: 600;
	color: #b8511b !important;
}
.footer-bottom {
	background: #e8edee;
	color: #7f7d7d;
	line-height: 38px;
	padding: 15px;
	text-align: center;
}
.social-icons-footer-bottom {
	float: right;
	margin: 6px 0 0;
}
.social-icons-footer-bottom li {
	display: inline;
	float: left;
	margin-right: 7px !important;
	list-style: none;
	-webkit-transition: all .2s ease-in-out 0;
	-moz-transition: all .2s ease-in-out 0;
	-o-transition: all .2s ease-in-out 0;
	-ms-transition: all .2s ease-in-out 0;
	transition: all .2s ease-in-out 0;
}
.social-icons-footer-bottom li i {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 16px;
	padding-top: 0;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
}
.scrollup {
	width: 40px;
	height: 40px;
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=80);
	opacity: 0.8;
	position: fixed;
	bottom: 100px;
	right: 15px;
	display: none;
	text-align: center;
	color: #fafafa;
	font-size: 28px;
	background: #708e13;
	z-index: 9999;
}
.scrollup i {
	line-height: 38px;
}
a.scrollup:hover i, a.scrollup:focus i {
	text-decoration: none;
	color: #fafafa;
	outline: none;
}
#tweets li:before {
	color: #767676;
	content: "\f099";
	float: left;
	font-family: FontAwesome;
	font-size: 16px;
	margin: 0 0 0 -28px;
}
#tweets li {
	line-height: 24px;
	margin: 0 0 15px;
	padding: 0 0 0 28px;
}
#tweets .content {
	padding-top: 0;
	margin-bottom: 5px;
}
#flickrfeed li {
	float: left;
	margin: 5px 5px 0 0;
}
.contact-us {
	margin: 15px 0 0;
	background: url("../img/contact-map.png") no-repeat center bottom;
}
.business-hour i {
	margin-right: 5px;
}
footer .contact-us a {
	color: #fff !important;
}
.contact-us .icon-map-marker {
	font-size: 16px;
}
.contact-us li i {
	color: #777777;
	float: left;
	margin: 4px 0 0;
}
.contact-us p {
	line-height: 24px;
	margin-left: 20px;
	margin-top: -2px;
}
.contact-us li p strong {
	color: #767676;
	float: left;
	font-weight: 600;
	margin: 0 5px 5px 0;
}
.contact-pad {
	padding-bottom: 20px;
}
.subscribe-btn {
	height: 44px;
	padding: 6px 16px;
	background-image: none;
	color: #fff;
	text-shadow: none;
	font-size: 16px;
	border: none;
	text-shadow: none !important;
}
.subscribe-btn i {
	line-height: 32px;
}
.subscribe {
	height: 38px !important;
	width: 100%;
}
#not-found {
	margin: 60px 0 45px;
}
#not-found h2 {
	font-size: 200px;
	font-weight: 500;
	letter-spacing: -5px;
	line-height: 210px;
	text-align: center;
}
#not-found p {
	color: #9e9e9e;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
}
#not-found i {
	color: #F03;
	font-size: 210px;
	position: relative;
	top: -12px;
}
.back-home p {
	text-align: center !important;
	margin: 0 auto;
}
.back-home .search-form {
	width: 290px;
	margin: 30px auto 0;
}
.sitemap {
	margin-bottom: 15px;
}
blockquote {
	border-left: 4px solid #E0E1E7;
}
.hero {
	background: #fff;
	border-left: 4px solid #DDD;
	color: #777777;
	font-size: 16px;
	margin: 20px 0;
	padding: 18px;
}
/* Services */
ul.why {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.why li {
	margin: 7px 0;
}
ul.why li:before {
	content: "\f00c";
	font-family: FontAwesome;
	position: relative;
	color: #fff;
	background: #777777;
	border-radius: 100%;
	margin: 0 7px 0 0;
	padding: 3px;
}
.services-big div.content-box div.content-box-icon {
	border-radius: 4px;
	display: block;
	float: none;
	position: relative;
}
.services-big div.content-box div.content-box-icon img {
	border-radius: 4px;
}
.services-big .content-box-icon span {
	z-index: 4;
	display: block;
	width: 130px;
	height: 130px;
	border-radius: 130px;
	background-color: #777777;
}
.services-big .content-box-icon i {
	color: #fff;
	float: left;
	font-size: 48px;
	line-height: 130px;
	left: 34%;
	position: relative;
	z-index: 5;
}
.services-big div.content-box div.content-box-info {
	padding-left: 0;
}
.services-big h4 {
	margin: 20px 0;
}
.services-big img {
	width: 100%;
}
/* Common Elements */
.divider {
	margin: 60px 0;
}
.blog-divider {
	margin: 35px 0;
	background: url(../img/bg_off.png) repeat;
	content: "";
	height: 5px;
}
.top-pad {
	margin-top: 25px;
}
.no-divider {
	margin: 0;
}
.bottom-pad {
	margin-bottom: 60px;
}
.bottom-pad-small {
	margin-bottom: 30px;
}
.no-bottom-pad {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
/* Form */

input.form-control, textarea.form-control {
	border: solid 1px #e98b0d;
	background: #fff !important;
	box-shadow: none !important;
}
.form-control {
	height: 44px;
}
input:hover, textarea:hover, input:focus, textarea:focus, .form-control:focus {
	border-color: #e98b0d;
}
/* Accordion */
.accordionMod .panel-heading .accordion-toggle {
	position: relative;
	cursor: pointer;
	margin: 0;
	padding: 10px 45px;
}
.accordion-body, .panel-heading {
	background: #fff;
	border-radius: 4px;
	padding: 0;
}
.accordionMod .panel-heading .accordion-toggle .icon:before {
	content: "\f067";
	font-family: FontAwesome;
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	left: 15px;
	top: 11px;
}
.accordionMod .panel-heading .accordion-toggle .iconActive:before {
	content: "\f068";
	font-family: FontAwesome;
}
.accordionMod .panel-heading .current {
	color: #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.contact-box, .contact-box i, .contact-box p, .contact-box h3 {
	-webkit-transition: all .5s ease-in-out 0;
	-moz-transition: all .5s ease-in-out 0;
	-o-transition: all .5s ease-in-out 0;
	-ms-transition: all .5s ease-in-out 0;
	transition: all .5s ease-in-out 0;
}
/* Contact Box */
.contact-box {
	text-align: center !important;
	-webkit-box-shadow: 0 -1px 0 0 rgba(0,0,0,0.05) inset;
	box-shadow: 0 -1px 0 0 rgba(0,0,0,0.05) inset;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	margin: 0 0 20px;
	padding: 32px 28px;
}
.contact-box:hover {
	border: none;
}
.contact-box i {
	font-size: 48px;
}
/* Home page posts section */
.blog-showcase {
	padding: 0;
}
.blog-showcase ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: block;
	overflow: hidden;
}
.blog-showcase ul li {
	position: relative;
	display: inline-block;
}
.blog-showcase ul li:last-child {
	padding-right: 0 !important;
}
.blog-showcase ul li.blog-first-el {
	padding-right: 270px;
}
.blog-showcase ul li.blog-first-el .blog-showcase-extra-info {
	zoom: 1;
	filter: alpha(opacity=100);
	filter: alpha(opacity=100);
	opacity: 1;
}
.blog-showcase ul li.blog-first-el .blog-showcase-thumb {
	border-right: 0;
}
.blog-showcase ul li img, .blog-showcase-extra-info, .blog-showcase ul li {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.blog-showcase ul li img, .post-item-hover {
	border-radius: 4px;
}
.blog-showcase-thumb {
	position: relative;
	overflow: hidden;
	z-index: 20;
	margin-bottom: 5px;
	width: 297px;
}
.blog-showcase-thumb:hover .showcase-blog-overlay {
	zoom: 1;
	filter: alpha(opacity=50);
	filter: alpha(opacity=50);
	opacity: .5;
}
.blog-showcase-extra-info {
	width: 277px;
	height: 180px;
	z-index: 10;
	margin: 0;
	position: absolute;
	left: 297px;
	top: 2px;
	overflow: hidden;
	zoom: 1;
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
}
.blog-showcase-extra-info span {
	display: block;
	border: 1px solid rgba(0,0,0,0.1);
	border-left: none;
	border-right: 0;
	margin-bottom: 5px;
	line-height: 24px;
}
.blog-showcase-extra-info span a {
	font-size: 10px;
	color: #999;
}
.blog-showcase-title {
	font-size: 13px;
	font-weight: bold;
	line-height: 20px !important;
	display: inline-block;
	margin-bottom: 0;
	color: #333;
}
.blog-showcase-more {
	font-size: 12px;
	text-decoration: underline;
}
.web-normal i {
	display: inline-block;
	margin: 15px;
}
/* Isotope Portfolio  Gallery */
#options {
	padding: 10px 0 25px;
}
#options li {
	float: left;
	margin: 4px 8px 4px 0;
}
#options li a {
	display: inline-block;
	background: #fff;
	color: #767676;
	font-size: 16px;
	text-decoration: none;
	padding: 7px 20px;
}
.portfolio-pad {
	margin-bottom: 30px;
}
.portfolio .item {
	position: relative;
	overflow: hidden;
}
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: .8s;
	-moz-transition-duration: .8s;
	-o-transition-duration: .8s;
	-ms-transition-duration: .8s;
	transition-duration: .8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-o-transition-property: height, width;
	-ms-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: 0;
	-moz-transition-property: 0;
	-o-transition-property: 0;
	-ms-transition-property: 0;
	transition-property: 0;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0;
	-moz-transition-duration: 0;
	-o-transition-duration: 0;
	-ms-transition-duration: 0;
	transition-duration: 0;
}
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
/* Utility */
.progress {
	height: 40px;
	background: #fff;
	box-shadow: none;
}
.progress .progress-bar {
	font-size: 15px;
	font-weight: 600;
	line-height: 40px;
	padding-left: 20px;
	text-align: left;
}
a.mobile-menu {
	color: #000;
	cursor: pointer;
}
.mobile-menu {
	height: 40px;
	position: absolute;
	right: 0;
	top: 25px;
}
.google-maps {
	height: 400px;
}
.google-maps img {
	max-width: none;
}
.tabs ul.posts li img, .author-content, li.work img, .recentworks .pic, .img-caption, a.prev, a.next, .scrollup, #options li a, .portfolio img.pic, .portfolio .img-caption {
	border-radius: 2px;
}
#search-form form, ul.post-meta, .sidebar ul, ul.tabs, .testimonials ul, ul.why, .panel-heading h3, .features .panel-heading h4, #options ul, .gallery ul {
	margin: 0;
}
#horizontal-tabs ul.tabs li, #vertical-tabs ul.tabs li, .content h3, .latest-posts h4 a {
	color: #777777;
}
ul.posts {
	padding: 0;
}
ul.posts li {
	list-style: none;
}
ul.posts span.color {
	color: #767676;
}
/*Project Carousel*/

.recentworks ul, .category-list ul, ul#tweets {
	list-style: none;
	margin: 0;
}
.category-list ul, #footer ul {
	list-style: none;
}
ul#projects-carousel {
	overflow: hidden;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}
.portfolio-item {
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
	display: block;
}
.portfolio-item img {
	display: block;
	width: 100%;
}
.fullscreen {
	position: absolute;
	left: 50%;
	top: 65%;
	color: #fff;
	font-size: 18px;
	margin-top: -30px;
	margin-left: -24px;
	width: 60px;
	height: 60px;
	opacity: 0;
}
.fullscreen i {
	color: #fff !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	z-index: 11;
	background: rgba(0,0,0,0.6);
	padding: 16px 18px;
	font-size: 16px;
	border-radius: 100px;
}
.portfolio-item-link {
	display: block;
	position: relative;
}
.post-item-link {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
}
.post-body {
	border-radius: 4px;
}
.portfolio-item-link span.portfolio-item-hover, .post-item-link span.post-item-hover, .img-hover {
	background: rgba(50,50,50,0.75)
}
.portfolio-item.round img {
	border-radius: 2px;
}
a.portfolio-item-link {
	line-height: 0;
	padding: 0;
	margin: 0;
}
.portfolio-item-link span.portfolio-item-hover, .post-item-link span.post-item-hover, .img-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	/* IE 8 */
	top: 0;
	left: 0;
	-webkit-transition: all 0.35s ease-out;
	-moz-transition: all 0.35s ease-out;
	-o-transition: all 0.35s ease-out;
	-ms-transition: all 0.35s ease-out;
	transition: all 0.35s ease-out;
}
.portfolio-item-link span.portfolio-item-hover:hover, .post-item-link span.post-item-hover:hover, .img-hover:hover {
	background-position: center center;
}
.portfolio-item-title {
	text-align: center;
	padding: 10px 5px 10px 5px;
	background: #fff;
}
.portfolio-item-title a {
	font-weight: 600;
	font-size: 14px;
	font-family: "Open Sans", Arial, Verdana;
	color: #777777;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
.portfolio-item-title a:hover {
	text-decoration: none;
}
.portfolio-item-title p {
	font-style: italic;
	font-size: 12px;
	margin-bottom: 0;
	text-align: center;
}
/* Circle items */
.ch-item {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: default;
}
.ch-info-wrap i {
	color: #FFFFFF;
	font-size: 40px;
	line-height: 100px;
	position: relative;
	z-index: 5;
}
.ch-info-wrap {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	top: 10px;
	left: 10px;
}
.ch-info {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}
.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.ch-info .ch-info-back {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	box-shadow: inset 0 0 3px rgba(0,0, 0, 0.2);
	-moz-box-shadow: inset 0 0 3px rgba(0,0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 3px rgba(0,0, 0, 0.2);
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
	opacity: 0;
}
.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}
/* Team Section */

.team .item .team-member-links a.facebook:hover, .member-social.dark a.facebook:hover, header .social li.facebook:hover, footer .social li.facebook:hover {
	background: #4C66A4;
}
.team .item .team-member-links a.dribbble:hover, .member-social.dark a.dribbble:hover, header .social li.dribbble:hover, footer .social li.dribbble:hover {
	background: #EA4C89;
}
.team .item .team-member-links a.twitter:hover, .member-social.dark a.twitter:hover, header .social li.twitter:hover, footer .social li.twitter:hover {
	background: #2C77BA;
}
.team .item .team-member-links a.gplus:hover, .member-social.dark a.gplus:hover, header .social li.gplus:hover, footer .social li.gplus:hover {
	background: #9e0b0f;
}
.team .item .team-member-links a.linkedin:hover, .member-social.dark a.linkedin:hover, header .social li.linkedin:hover, footer .social li.linkedin:hover {
	background: #069;
}
.team .item .team-member-links a.pinterest:hover, .member-social.dark a.pinterest:hover, header .social li.pinterest:hover, footer .social li.pinterest:hover {
	background: #C92228;
}
header .social li.rss:hover, footer .social li.rss:hover {
	background: #f60;
}
/* Team member*/

.team-member {
	display: block;
	margin: 0 auto 50px;
	width: 100%;
	max-width: 350px;
	padding: 0;
}
.team-member-image {
	float: none;
	overflow: visible;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
}
.team-member-image img {
	border-radius: 50%;
}
.team-member-links {
	top: 0;
	min-height: 1px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px rgba(255,255,255,0.25) inset;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.team-member:hover .team-member-links {
	box-shadow: 0 0 0 175px rgba(50,50,50,0.75) inset;
}
.team-member-links-list {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}
.team-member:hover .team-member-links-list {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	opacity: 1;
}
.team-member-links-item {
	font-size: 22px;
	line-height: 44px;
	height: 44px;
	width: 44px;
	margin: 5px;
	position: relative;
	border-radius: 50%;
	background-color: #fff;
	color: #777777;
}
.team-member-links-item:hover, .color_alternate .team-member-links-item:hover, .color_primary .team-member-links-item:hover {
	background-color: #f8862c;
	color: #fff;
}
.team-member-meta {
	margin-left: 0;
	min-height: 1px;
	padding: 15px 0 0;
	text-align: center;
}
.team-member-name {
	margin-bottom: 6px;
}
.team-member-role {
	font-size: 13px;
	margin-bottom: 10px;
	color: #999;
}
.team-member-description p {
	margin-bottom: 0;
	text-align: center;
}
.member-social.dark a {
	background: #9e9e9e;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}
.team .item .team-member-links a {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.member-social a {
	width: 36px;
	float: left;
	text-align: center;
	margin: 0 6px 6px 0;
	padding: 7px 0 6px;
	border-radius: 2px;
}
.member-social a i {
	display: block!important;
	font-size: 20px;
	color: #fff;
	margin: 0 auto!important;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	border-color: transparent;
}
.pager li > a:hover {
	border: none;
}
.pager li > a, .pager li > span {
	background-color: #FFFFFF;
	border: none;
	border-radius: 4px;
}
/*.menu > ul li {
	float: none;
}*/
.navbar-toggle {
	border: none;
	border-radius: 2px;
	padding: 9px 10px 5px;
}
input, button, select, textarea {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
strong, .author-content .data a {
	font-weight: 600;
}
.breadcrumbs ul, .portfolio-single .sidebar h3 {
	margin-top: 5px;
}
.nivo-caption h2, .pagination-centered {
	text-align: center;
}
.page article.post .post-image, .portfolio-single .recentwork_wrapper .item {
	margin-bottom: 25px;
}
ol li ol.childlist .comment-des, header nav li, .avatar {
	float: left;
}
.recentworks li.slide, .portfolio-wrap {
	overflow: hidden;
}
footer a, .contact-box:hover, #options li a.selected, header .top-bar, header .top-bar a, header .social li:hover i, footer .social li:hover i, .content-box:hover>.content-box-icon i, div.content-box div.content-box-icon:hover, div.content-box div.content-box-icon:hover i, #footer h3, .contact-box:hover h3 {
	color: #fff;
}
.contact-box p {
	text-align: center !important;
}
.panel-group .panel, .accordionMod .accordion-group {
	margin-bottom: 15px;
}
.panel {
	border: none;
	box-shadow: none;
	border-radius: 4px;
}
.well {
	background: #E8E8E8;
	box-shadow: none;
	border: none;
}
/*******************************/
.videobox1 {
	background: #4085ad;
	border-radius: 8px 8px 15px 15px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	float: left;
	margin: 5px 0;
	padding: 14px 14px 10px;
	position: relative;
	width: 100%;
}
.videobox1.theme-box {
	background: #8e431f;
}
.videobox1 .vidopts {
	color: #fff;
	width: 100%;
}
.opts-xs {
	padding: 5px !important;
}
.videobox1 .vidopts ul {
	display: block;
	float: left;
	margin: 0;
	width: 100%;
	list-style: none;
	padding: 0;
}
.videobox1 .vidopts ul li {
	font-family: 'Fredoka One', cursive;
	float: left;
	font-size: 18px;
	margin-right: 20px;
	position: relative;
	list-style: none;
}
.videobox1 .vidopts ul li:last-child {
	margin-right: 0;
}
.videobox1 .vidopts ul li i {
	margin-right: 10px;
	font-size: 18px;
}
/*******************************/
.videobox2 {
	background: #fff;
	border-radius: 8px 8px 15px 15px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	float: left;
	margin: 5px 0;
	padding: 14px 14px 10px;
	position: relative;
	width: 100%;
}
.videobox2 .vidopts {
	color: #4880b2;
	width: 100%;
}
.opts-xs {
	padding: 5px !important;
}
.videobox2 .vidopts ul {
	display: block;
	float: left;
	margin: 0;
	width: 100%;
	list-style: none;
	padding: 0;
}
.videobox2 .vidopts ul li {
	font-family: 'Fredoka One', cursive;
	float: left;
	font-size: 18px;
	margin-right: 20px;
	position: relative;
	list-style: none;
}
.videobox2 .vidopts ul li:last-child {
	margin-right: 0;
}
.videobox2 .vidopts ul li i {
	margin-right: 10px;
	font-size: 18px;
}
/*********small carousel**********/
.videobox1_sm {
	background: #4085ad;
	border-radius: 8px 8px 15px 15px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	float: left;
	margin: 5px 0;
	padding: 14px 14px 10px;
	position: relative;
	width: 100%;
}
.videobox1_sm .vidopts {
	color: #fff;
	width: 100%;
}
.videobox1_sm .vidopts.opts-xs {
	padding: 5px 0 0 0 !important;
}
.videobox1_sm .vidopts ul {
	display: block;
	float: left;
	margin: 0;
	width: 100%;
	list-style: none;
	padding: 0;
}
.videobox1_sm .vidopts ul li {
	float: left;
	font-family: "Fredoka One", cursive;
	font-size: 11px;
	list-style: outside none none;
	margin-right: 5px;
	position: relative;
}
.videobox1_sm .vidopts ul li:last-child {
	margin-right: 0;
}
.videobox1_sm .vidopts ul li i {
	margin-right: 5px;
	font-size: 12px;
}
/*******************************/
.videos1-carousel.carousel.slide, .videos2-carousel.carousel.slide {
	padding-top: 20px;
}
.videobox2_sm {
	background: #fff;
	border-radius: 8px 8px 15px 15px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	float: left;
	margin: 5px 0;
	padding: 14px 14px 10px;
	position: relative;
	width: 100%;
}
.videobox2_sm .vidopts {
	color: #4880b2;
	width: 100%;
}
.videobox2_sm .vidopts.opts-xs {
	padding: 0px !important;
}
.videobox2_sm .vidopts ul {
	display: block;
	float: left;
	margin: 0;
	width: 100%;
	list-style: none;
	padding: 0;
}
.videobox2_sm .vidopts ul li {
	font-family: 'Fredoka One', cursive;
	float: left;
	font-size: 11px;
	margin-right: 5px;
	position: relative;
	list-style: none;
}
.videobox2_sm .vidopts ul li:last-child {
	margin-right: 0;
}
.videobox2_sm .vidopts ul li i {
	margin-right: 5px;
	font-size: 12px;
}
/****stores****/


[class^="store-btn-"], [class*=" store-btn-"] {
	background: url(../img/icon_stores.png) top left no-repeat;
	display: block;
}
.store-btn-apple {
	background-position: 0;
	background-size: 200%;
	width: 100px;
	height: 88px;
	float: left;
}

.store-btn-apple.sub-apple{
	cursor: pointer; margin-left: 5px; margin-top: 9px; width: 44%;
}
.store-btn-app {
	background-position: 100% 0;
	background-size: 200%;
	width: 100px;
	height: 88px;
	float: left;
}
.store-btn-app.sub-app{
	cursor: pointer; margin-left: 10px; margin-top: 19px; width: 44%;
}
.store-btn-apple:hover, .store-btn-app:hover {
	opacity: 0.6
}
/************************************/
.language {
	font-family: 'gooddog_plainregular';
	font-size: 1.2em;
	font-weight: 600;
	width: 100px;
	background: #4bbcc1;
	margin-left: 20px;
	text-align: center;
	padding: 0px 10px;
	border-bottom-left-radius: 63%;
	border-bottom-right-radius: 63%;
	color: #fff;
}
.language:hover, .language:focus {
	color: rgba(255, 255, 255, 0.5);
}
/*****************new menu*************/
.open > .dropdown-menu {
	top: 55% !important;
	opacity: 0.95;
	visibility: visible;
}
.menu ul > li > a.drp {
	padding: 0;
	line-height: 40px;
}
nav .social-menu {
	right: 10px;
	top: 47px;
	position: absolute;
}
nav .social-menu a:hover {
	opacity: 0.8;
}

a.option:hover i.bgk-orange{
	background-color:#e56e49
}
/**************subscribe*******************/

#subscription-top {
	font-family: 'Fredoka One', cursive;
	position: absolute;
	top: 170px;
	right: 50px;
	background-color: rgba(255,255,255,0.97);
	border: 6px solid rgba(0, 0, 0, 0.4);
	z-index: 22;
	border-radius: 30px;
	padding:5px 10px;
	width:200px;
}

#subscription-top h4 {
	font-family: 'Fredoka One', cursive; margin-bottom:0;
}
#subscription-top h4 a{
	font-size:18px;color:#707c8f;
}
#subscription-top h4.again a{
	font-size:14px;color:#949cac;
}
#subscription-top h4 a i{
	font-size:18px;
}
#subscription-top hr{
	border-color:#c0bebd; margin:10px 0;
}
#subscription-top a:hover, .subscribe_section a:hover{
	opacity:0.6
}
#close{
	float:right; font-size:18px; color:#afc1c4; cursor:pointer
}
.carousel-inner{
	width: 90%; text-align: center; left: 5%;
}
/******************blue******************************************************************************************************************************/
/*Blue #708e13 & #0488cd */
.btn:focus, .subscribe-btn, .progress .progress-bar, .accordionMod .panel-heading .current, #current:after, .tp-leftarrow.default:hover,.tp-rightarrow.default:hover, .nivo-prevNav:hover, .nivo-nextNav:hover, .contact-box:hover, #options li a.selected, .ch-info-front {
    background: #708e13;
}

.bg-color {
    background: #708e13;
	color: #fff;
}

.spinner {
	border-top-color: #708e13 !important;
}

.ch-info-back {
	background: rgba(46, 174, 240, 0.7) !important;
}

.tp-leftarrow.default:hover,.tp-rightarrow.default:hover, .nivo-prevNav:hover, .nivo-nextNav:hover {
	border-color: #708e13;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pager li > a:hover, .pager li > a:focus, .navbar-toggle i, .cn-wrapper li a, .cn-wrapper:after {
   background-color: #708e13;
    color: #fff;
	border-radius:50%;
}


.hero {
    border-left-color: #708e13;
}


.ie8 .btn-color, .ie9 .btn-color {
	background: #708e13 !important;
}

.ie8 .btn-color:hover, .ie9 .btn-color:hover {
	background: #708e13 !important;
}

.btn-color:hover, .subscribe-btn:hover i {
	/*background: #0488cd;*/
	color:#722e15;
}

.btn-color, .subscribe-btn {
	background: #e98b0d;
	cursor: pointer;
}


#current,.menu ul li a:hover,.menu ul>li:hover>a {
   /* border-bottom: 3px solid #708e13;*/
}

ul.why li:before {
    background: #708e13;
}

.menu ul ul {
    border-top: 3px solid #708e13 !important;
}



.author-content, div.content-box.big, #cn-tabs .service, .comment-des, .contact-box {
	border-bottom-color:#708e13;
}

a, .post-item h4 a:hover, .cn-wrapper li a:hover, .cn-wrapper li a.active, .color {
    color: #708e13;
}
 .d-gray, .d-theme{
	 margin-top:10px;
 }
.d-gray ul li, .d-gray ul li i{
	 color:#707c8f !important;
	 font-size:18px !important;
 }
.d-theme ul li, .d-theme ul li i{
	 color:#8e431f !important;
	 font-size:18px !important;
 }
/******************end blue******************************************************************************************************************************/
