.page-mask { 
	width: 100%; 
	height: 100%; 
	position: fixed; 
	background: #fff; 
	top:0px; 
	left: 0px; 
	z-index: 999999999999999999999999999999999;
}

.page-loader { 
	width: 44px; 
	height: 44px; 
	text-align: center; 
	line-height: 44px; 
	margin: 23% auto 0 auto; 
	font-size: 12px;
}


.spinner {
  border: 2px solid #eeeeee;
  font-size: 40px;
  width: 1em;
  height: 1em;
  border-radius: .5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}