/! Footer Start
footer#footer
  /! Footer Top Start
  .footer-top
    .container
      .row
        section.col-lg-3.col-md-3.col-xs-12.col-sm-3.footer-one
          h3 About Kidotainment
          p
            | We develop mobile apps and games for children under 12 years and create a deep emotional attachment through videos. Our work revolves around the learning activities for children that
            | includes songs, rhymes, games and videos.
        section.col-lg-2.col-md-2.col-xs-12.col-sm-2.footer-two.col-xs-offset-1
          h3 Quick Links
          ul
            li
              a href="/"
                i.icon-home
                | Home
            li
              a href="/watch"
                i.icon-watch
                | Watch
            li
              a href=""
                i.icon-games
                | Games
        section.col-lg-3.col-md-3.col-xs-12.col-sm-3.footer-three
          h3 Help &amp; Support
          ul
            li
              a href=""  News &amp; Updates
            li
              a href="/subscription"  Subscribe
            li
              a href=""  Contact Us
            li
              a href=""  Terms of Use
            li
              a href=""  Privacy Policy
        section.col-lg-3.col-md-3.col-xs-12.col-sm-4.footer-four
          h3 Follow The Iconic
          ul
            li
              a href=""
                img alt="" src="img/icon_facebook.png" width="36" /
              | \&nbsp;
              a href=""
                img alt="" src="img/icon_twitter.png" width="36" /
            li
              span.padding_tb
                | Subscribe to get all the
                | content or simply email us at:
                | info@kidotainment.com
            li
              .widget.search-form
                .input-group
                  input.search-input.form-control onblur=("if(this.value=='')this.value='Enter Your Number';") onfocus=("if(this.value=='Enter Your Number')this.value='';") type="text" value=("Enter Your Number") /
                  span.input-group-btn
                    button.subscribe-btn.btn type="submit"
                      i.icon-arrow-right
                /! /input-group
  /! Footer Top End
  /! Footer Bottom Start
  .footer-bottom
    .container
      .row
        .col-lg-12.col-md-12.col-xs-12.col-sm-12 &copy; Kidotainment 2016. All Rights Reserved.
        /!
          | <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 "
          | <ul class="social social-icons-footer-bottom"
          | <li class="facebook"><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li
          | <li class="twitter"><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li
          | <li class="dribbble"><a href="#" data-toggle="tooltip" title="Dribble"><i class="fa fa-dribbble"></i></a></li
          | <li class="linkedin"><a href="#" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li
          | <li class="rss"><a href="#" data-toggle="tooltip" title="Rss"><i class="fa fa-rss"></i></a></li
          | </ul
          | </div
  /! Footer Bottom End
