/! Header Start
header#header
  /! Main Header Start
  .main-header
    .container
      /! Logo Start
      .logo.pull-left
        h1
          a href="/index_ar"
            img alt="" src="img/logo_ar.png" width="271" /
      /! Logo End
      /! Menu Start
      nav.navbar-collapse.menu
        .pull-right
          a.language.pull-right.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="javascript:;" role="button"
            | لغة
            br/
            i.fa.fa-angle-down
          ul.dropdown-menu.dropdown-menu-right.dropdown-menu-min aria-labelledby="dLabel"
            li
              a.drp href="/"  English
            li
              a.drp href="/index_ar"  العربية
          .social-menu
            a href=""
              img alt="" src="img/icon_facebook.png" width="36" /
            | \&nbsp;
            a href=""
              img alt="" src="img/icon_twitter.png" width="36" /
        a.option.pull-right href="/categories_ar"
          i.icon-dots.bgk-orange
          | \&nbsp;
        ul.nav.navbar-nav.sf-menu
          li
            a href="/index_ar" id=(request.original_fullpath == '/index_ar' ? 'current' : '')
              i.icon-home.bgk-dgreen
              | الرئيسية
          li
            a href="/watch_ar" id=(request.original_fullpath == '/watch_ar' ? 'current' : '')
              i.icon-watch.bgk-red
              | مشاهدة
          li
            a href="/games_ar" id=(request.original_fullpath == '/games_ar' ? 'current' : '')
              i.icon-games.bgk-blue
              | ألعاب
          li
            a href="/subscription_ar" id=(request.original_fullpath == '/subscription_ar' ? 'current' : '')
              i.icon-subscribe.bgk-green
              | الاشتراك
      /! Menu End
  /! Main Header End
/! Header End
