.page-mask
  .page-loader
    .spinner
    | Loading...
.wrap

  = render "header"

  /! Content Start
  #main
    /! Slider Start
    .fullwidthbanner-container
    /! Slider End
    /! Title, Breadcrumb Start
    .breadcrumb-wrapper
      img alt="" src="img/bg_breadcrumb.png" style=("position: absolute; left: 0%;width:100%") /
      .container
        .row
          .col-lg-6.col-md-6.col-xs-12.col-sm-6
            h2.title Our Categories
    /! Title, Breadcrumb End
    /! Main Content start
    .content.category
      .container
        .row
          .sidebar.col-lg-4.col-md-4.col-sm-4.col-xs-12
            /! Left nav Widget Start
            .widget.category
              ul.slide
                li.active.animate_afc.d1
                  a href="/abc_counting" /
                  .bg-cat-1
                  | ABC &amp; Counting
                li.bg-color2.animate_afc.d2
                  a href="#" /
                  .bg-cat-2
                  | Rhymes &amp; Stories
                li.bg-color3.animate_afc.d3
                  a href="#" /
                  .bg-cat-3
                  | Science Fun
                li.bg-color4.animate_afc.d4
                  a href="#" /
                  .bg-cat-4
                  | Toys
                li.bg-color5.animate_afc.d5
                  a href="#" /
                  .bg-cat-5
                  | Cartoons
                li.bg-color6.animate_afc.d6
                  a href="#" /
                  .bg-cat-6
                  | Nature &amp; Animals
                li.bg-color7.animate_afc.d8
                  a href="#" /
                  .bg-cat-7
                  | Colors &amp; Shapes
                li.bg-color8.animate_afc.d7
                  a href="#" /
                  .bg-cat-8
                  | Creative Thinking
            /! Left nav Widget End
          /! Sidebar End

          .col-lg-8.col-md-8.col-sm-8.cat-container
            .row
              - @resp['items'].each do |f|
                  .col-lg-4.col-md-4.col-sm-6
                    .thumbnail
                      .overlay
                        .thumbnail-actions.categ
                          a.btn.btn-blue.btn-icon.btn-rounded href="#" title=""
                            i.icon-view
                            span = f['views']
                          a.btn.btn-blue.btn-icon.btn-rounded href="#" title=""
                            i.icon-like
                            span = f['likes']
                      .videobox2_sm.video.m-b-10.m-t-10 video-link="#"
                        figure
                          /! Video thumb_urlnail Start
                          a href="/watch_season?id=#{f['id']}"
                            img.img-responsive.hovereffect alt="" src=f['thumbs']['thumb']
                        /! Video Info Start
                        .vidopts.opts-xs
                          h4.text-center.cat-color.m-b-5
                            span = f['title']
                          .clearfix
                        /! Video Info End


            .m-t-30.align-right
              .pagination-centered
                ul.pagination
                  li.disabled
                    a style=("cursor: pointer;")
                      i.fa.fa-chevron-left
                  li.active
                    a href="/abc_counting" style=("cursor: pointer;")  1
                  li
                    a href="/abc_counting?page=2" style=("cursor: pointer;")  2
                  li
                    a href="/abc_counting?page=3" style=("cursor: pointer;")  3
                  li
                    a href="/abc_counting?page=4" style=("cursor: pointer;")  4
                  li
                    a href="/abc_counting?page=6" style=("cursor: pointer;")
                      i.fa.fa-chevron-right
          /! Left Section End
    /! Main Content end
    /! subscribe Start
    .subscribe_section.inner
      .subscribe_section_top.inner
        .bg-overlay1
          .container
            .row
              .col-md-12.col-sm-12.col-xs-12.animate_aft.d3
                .app-service.text-center
                  h1
                    | Subscribe Now
                    br/
                    img alt="" src="img/bottom.png" /
                  h4 Unlock the full Kidotainment Journey
                  h4 Hundreds of hours of content. See what’s included
                  a href=""
                    img alt="" src="img/btn_subscribe.png" style="width:40%" /
                  .divider
    /! subscribe  end
    /! app store Start
    .store-list
      .bg-overlay1
        .container
          .row
            .col-md-6.col-sm-5.col-xs-12.animate_afr.d3.col-xs-offset-1
              .app-service
                h1 Kidotainment in Your Pocket
                h4 We are on APP STORE and
                h4 GOOGLE  PLAY STORE
                div style="margin-top:40px;"
                  a.store-btn-apple href="#"
                  a.store-btn-app.btn-adj-ar href="#"
            .col-md-5.col-sm-7.col-xs-12.text-center.animate_afl.d1
              img alt="iPhone5c" src="img/big1.png" /
    /! app store end
  /! Content End

  = render "footer"

  /! Scroll To Top
  a.scrollup href="#"
    i.fa.fa-angle-up
/! Wrap End
javascript:
    | $(document).ready(function(){

      | $("#close").click(function(){
        | $("#subscription-top").fadeOut(500).hide();
      | });

      | $(window).scroll(function(){
          | $("#subscription-top").stop().animate({"marginTop": ($(window).scrollTop()) + "px", "marginLeft":($(window).scrollLeft()) + "px"}, "slow" );
        | });


    | });
