.page-mask
  .page-loader
    .spinner
    | Loading...
.wrap

  = render "header"

  #main
    .fullwidthbanner-container
    .breadcrumb-wrapper
      img alt="" src="img/bg_breadcrumb.png" style=("position: absolute; left: 0%;width:100%") /
      .container
        .row
          .col-lg-6.col-md-6.col-xs-12.col-sm-6
            h2.title = @resp['name']
    .content.category
      .container
        .row
          .sidebar.col-lg-4.col-md-4.col-sm-4.col-xs-12
            .widget.category
              ul.slide
                li.active.animate_afc.d1
                  a href="#"
                    img.bg-cat-1 style="padding:5px;width: 80px;position: absolute;left: -31px;background: #fff;border-radius: 50%;top: -8px;" src="/img/img-blur-client.png"
                    span
                li.bg-color2.animate_afc.d2
                  a href="#"
                    img.bg-cat-2 style="padding:5px;width: 80px;position: absolute;left: -31px;background: #fff;border-radius: 50%;top: -8px;" src="/img/img-blur-client.png"
                    span
                li.bg-color3.animate_afc.d3
                  a href="#"
                    img.bg-cat-3 style="padding:5px;width: 80px;position: absolute;left: -31px;background: #fff;border-radius: 50%;top: -8px;" src="/img/img-blur-client.png"
                    span
                li.bg-color4.animate_afc.d4
                  a href="#"
                    img.bg-cat-4 style="padding:5px;width: 80px;position: absolute;left: -31px;background: #fff;border-radius: 50%;top: -8px;" src="/img/img-blur-client.png"
                    span
                li.bg-color5.animate_afc.d5
                  a href="#"
                    img.bg-cat-5 style="padding:5px;width: 80px;position: absolute;left: -31px;background: #fff;border-radius: 50%;top: -8px;" src="/img/img-blur-client.png"
                    span
                li.bg-color6.animate_afc.d6
                  a href="#"
                    img.bg-cat-6 style="padding:5px;width: 80px;position: absolute;left: -31px;background: #fff;border-radius: 50%;top: -8px;" src="/img/img-blur-client.png"
                    span
                li.bg-color7.animate_afc.d8
                  a href="#"
                    img.bg-cat-7 style="padding:5px;width: 80px;position: absolute;left: -31px;background: #fff;border-radius: 50%;top: -8px;" src="/img/img-blur-client.png"
                    span
                li.bg-color8.animate_afc.d7
                  a href="#"
                    img.bg-cat-8 style="padding:5px;width: 80px;position: absolute;left: -31px;background: #fff;border-radius: 50%;top: -8px;" src="/img/img-blur-client.png"
                    span
          .col-lg-8.col-md-8.col-sm-8.cat-container
            .row
              - @resp['items'].each do |f|
                .col-lg-4.col-md-4.col-sm-6
                  .thumbnail
                    .overlay
                      .thumbnail-actions.categ
                        a.btn.btn-blue.btn-icon.btn-rounded href="#" title=""
                          i.icon-view
                          span = f['views']
                        a.btn.btn-blue.btn-icon.btn-rounded href="#" title=""
                          i.icon-like
                          span = f['likes']
                    .videobox2_sm.video.m-b-10.m-t-10 video-link="#"
                      figure
                        a href="/watch_season?id=#{f['id']}"
                          img.img-responsive.hovereffect alt="" src=f['thumbs']['thumb']
                      .vidopts.opts-xs
                        h4.text-center.cat-color.m-b-5
                          span = f['title']
                        .clearfix


            .m-t-30.align-right
              .pagination-centered
                ul.pagination
                  li.disabled
                    a style=("cursor: pointer;")
                      i.fa.fa-chevron-left

                    li.active
                      a href="/categories?c=#{@resp['id']}" style=("cursor: pointer;") id="page1"  1

                  -for i in (2..5)
                    -if i <= @resp['total_pages']
                      li
                        a href="/categories?c=#{@resp['id']}&page=#{i}"  id = "page#{i}"
                          span=i

                  li
                    a style=("cursor: pointer;")
                      i.fa.fa-chevron-right

    .subscribe_section.inner
      .subscribe_section_top.inner
        .bg-overlay1
          .container
            .row
              .col-md-12.col-sm-12.col-xs-12.animate_aft.d3
                .app-service.text-center
                  h1
                    | Subscribe Now
                    br/
                    img alt="" src="img/bottom.png" /
                  h4 Unlock the full Kidotainment Journey
                  h4 Hundreds of hours of content. See what’s included
                  a href=""
                    img alt="" src="img/btn_subscribe.png" style="width:40%" /
                  .divider
    .store-list
      .bg-overlay1
        .container
          .row
            .col-md-6.col-sm-5.col-xs-12.animate_afr.d3.col-xs-offset-1
              .app-service
                h1 Kidotainment in Your Pocket
                h4 We are on APP STORE and
                h4 GOOGLE  PLAY STORE
                div style="margin-top:40px;"
                  a.store-btn-apple href="#"
                  a.store-btn-app.btn-adj-ar href="#"
            .col-md-5.col-sm-7.col-xs-12.text-center.animate_afl.d1
              img alt="iPhone5c" src="img/big1.png" /

  = render "footer"

  a.scrollup href="#"
    i.fa.fa-angle-up

javascript:

    function getCollectionsData() {

      bp_ajax({

        action: 'dn_collections',
        method: 'get',
        contentType: 'application/json',
        notifications: false,
        spinner: true,
        callback: function(data) {

          $('.category ul.slide li').each(function(i){

            $(this).find('a').attr('href', '/categories?c=' + data['data']['items'][i]['id']);
            $(this).find('img').attr('src', data['data']['items'][i]['icon']);
            $(this).find('span').text(data['data']['items'][i]['name']);

          });

        }

      });
    }

    $(document).ready(function(){

      getCollectionsData();

      $("#close").click(function(){
        $("#subscription-top").fadeOut(500).hide();
      });

      $(window).scroll(function(){
        $("#subscription-top").stop().animate({"marginTop": ($(window).scrollTop()) + "px", "marginLeft":($(window).scrollLeft()) + "px"}, "slow" );
      });

      var page_no = getParameterByName("page");

      $('.pagination #page'+page_no).parent().addClass('active').siblings().removeClass('active');

    });

    function getParameterByName(name) {

       name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
       var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                                results = regex.exec(location.search);
       return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
   }
