.page-mask
  .page-loader
    .spinner
    | Loading...
.wrap

  = render "header"

  /! Content Start
  #main
    /! Slider Start
    .fullwidthbanner-container
    /! Slider End
    /! Title, Breadcrumb Start
    .breadcrumb-wrapper
      img alt="" src="img/bg_breadcrumb.png" style=("position: absolute; left: 0%;width:100%") /
      .container
        .row
          .col-lg-6.col-md-6.col-xs-12.col-sm-6
            h2.title Download Games
    /! Title, Breadcrumb End
    /! Main Content start
    .content.category
      .container
        .row
          /! category
          .col-lg-12.col-md-12.col-sm-12.cat-container
            .row
              h2.text-center.white
                i.icon-games
                | Download Our Latest Games
              .col-lg-12.col-md-12.col-sm-12.alternative
                .row
                  - @resp['items'].each do |f|
                    .col-lg-6.col-md-6.col-sm-12.content-box
                      .row
                        .col-lg-6.col-md-6.col-sm-6
                          .thumbnail
                            .videobox2_sm.video.m-b-10.m-t-10 video-link="#"
                              figure
                                /! Video thumb_urlnail Start
                                a href="#"
                                  img.img-responsive.hovereffect alt="" src=f['thumbs']['thumb'] /
                              /! Video Info Start
                              .vidopts.opts-xs.d-gray
                                ul
                                  li
                                    i.fa.fa-download
                                    span = f['downloads']
                                  li
                                .clearfix
                              /! Video Info End
                        .col-lg-6.col-md-6.col-sm-6.m-t-10.m-b-10
                          h3.m-b-5.white
                            span = f['title']
                          p.white
                            span = f['description']

                          -f['tags'].split(',').each do |t|
                            a.btn-default.btn-theme style=("cursor: pointer;")
                              span = t

                          li
                            .m-t-30.align-right

              .pagination-centered
                ul.pagination
                  li.disabled
                    a style=("cursor: pointer;")
                      i.fa.fa-chevron-left
                  li.active
                    a href="/games" style=("cursor: pointer;")  1

                  -for i in (2..5)
                    -if i <= @resp['total_pages']
                      li
                        a href="/games?&page=#{i}"  id = "page#{i}"
                          span=i

                  li
                    a style=("cursor: pointer;")
                      .fa.fa-chevron-right
          /! category End
    /! Main Content end
    /! category scrol Start
    .category-list.inner
      .bg-overlay3
        .container style="width:100%"
          .row
            .client
              .category-logo
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .category-title
                    .carousel-controls1
                      a.prev data-slide="prev" href="#category-carousel"
                        i.fa.fa-chevron-left
                      a.next data-slide="next" href="#category-carousel"
                        i.fa.fa-chevron-right
                      .clearfix
                  .clearfix
                  .row
                    #category-carousel.category-carousel.carousel.slide
                      .carousel-inner style=""
                        .item.active
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d1
                            .item-inner
                              a href="/categories"
                                img alt="" src="img/categorieslogo/logo-1.png" /
                                br/
                                br/
                                | ABC Counting
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d2
                            .item-inner
                              a href="/categories"
                                img alt="" src="img/categorieslogo/logo-2.png" /
                                br/
                                br/
                                | Creative Thinking
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d3
                            .item-inner
                              a href="/categories"
                                img alt="" src="img/categorieslogo/logo-3.png" /
                                br/
                                br/
                                | Toys
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d4
                            .item-inner
                              a href="/categories"
                                img alt="" src="img/categorieslogo/logo-4.png" /
                                br/
                                br/
                                | Cartoons
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d3
                            .item-inner
                              a href="/categories"
                                img alt="" src="img/categorieslogo/logo-5.png" /
                                br/
                                br/
                                | Science Fun
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d4
                            .item-inner
                              a href="/categories"
                                img alt="" src="img/categorieslogo/logo-6.png" /
                                br/
                                br/
                                | Nature
                        .item
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d1
                            .item-inner
                              a href="/categories"
                                img alt="" src="img/categorieslogo/logo-1.png" /
                                br/
                                br/
                                | ABC Counting
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d2
                            .item-inner
                              a href="/categories"
                                img alt="" src="img/categorieslogo/logo-2.png" /
                                br/
                                br/
                                | Creative Thinking
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d3
                            .item-inner
                              a href="/categories"
                                img alt="" src="img/categorieslogo/logo-3.png" /
                                br/
                                br/
                                | Toys
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d4
                            .item-inner
                              a href="/categories"
                                img alt="" src="img/categorieslogo/logo-4.png" /
                                br/
                                br/
                                | Cartoons
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d3
                            .item-inner
                              a href="/categories"
                                img alt="" src="img/categorieslogo/logo-5.png" /
                                br/
                                br/
                                | Science Fun
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d4
                            .item-inner
                              a href="/categories"
                                img alt="" src="img/categorieslogo/logo-6.png" /
                                br/
                                br/
                                | Nature
    /! category scrol End
    /! app store Start
    .store-list
      .bg-overlay1
        .container
          .row
            .col-md-6.col-sm-5.col-xs-12.animate_afr.d3.col-xs-offset-1
              .app-service
                h1 Kidotainment in Your Pocket
                h4 We are on APP STORE and
                h4 GOOGLE  PLAY STORE
                div style="margin-top:40px;"
                  a.store-btn-apple href="#"
                  a.store-btn-app.btn-adj-ar href="#"
            .col-md-5.col-sm-7.col-xs-12.text-center.animate_afl.d1
              img alt="iPhone5c" src="img/big1.png" /
    /! app store end
  /! Content End

  = render "footer"

  /! Scroll To Top
  a.scrollup href="#"
    i.fa.fa-angle-up
  /! Wrap End

  javascript:
    $(document).ready(function(){

      $("#close").click(function(){
        $("#subscription-top").fadeOut(500).hide();
      });

      $(window).scroll(function(){
        $("#subscription-top").stop().animate({"marginTop": ($(window).scrollTop()) + "px", "marginLeft":($(window).scrollLeft()) + "px"}, "slow" );
      });

      var page_no = getParameterByName("page");
      console.log("page num" + page_no);

      $('.pagination #page'+page_no).parent().addClass('active').siblings().removeClass('active');

    });

    function getParameterByName(name) {

       name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
       var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                                results = regex.exec(location.search);
       return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
   }
