.page-mask
  .page-loader
    .spinner
    | Loading...
.wrap

  = render "header"

  section#subscription-top.hide
    a#close style=""
      i.fa.fa-close
    .clearfix
    h4
      a href=""
        | Subscribe Now!
        i.icon-arrow-right.pull-right
    h4.again
      a href=""
        | Already Subscribed
          br
        | here
        i.icon-arrow-right.pull-right
    hr
    h4 Download Our App
    div style=""
      a.store-btn-apple.sub-apple href="#" style=""
      a.store-btn-app.sub-app href="#" style=""
  #main
    .fullwidthbanner-container
      .fullwidthbanner.rslider
        ul
          li data-masterspeed="500" data-saveperformance="on" data-slotamount="7" data-transition="fade"
            img alt="" data-bgfit="cover" data-bgposition=("center bottom") data-bgrepeat="no-repeat" data-lazyload="img/slider/slider-bg-2.jpg" src="img/slider/slider-bg-2.jpg" /
            .caption.lfl data-easing="easeOutExpo" data-speed="300" data-start="1400" data-x="center" data-y="center"
              img alt=("Main Responsive") src="img/slider/responsive-main.png" 
            .caption.lfl data-easing="easeOutExpo" data-speed="300" data-start="1500" data-x="160" data-y="30"
              img alt=("giraf Responsive") src="img/slider/responsive-giraf.png" 
            .caption.lfl data-easing="easeOutExpo" data-speed="300" data-start="1600" data-x="280" data-y="170"
              img alt=("Lion Responsive") src="img/slider/responsive-lion.png" 
          li data-masterspeed="500" data-saveperformance="on" data-slotamount="7" data-transition="fade"
            img alt="" data-bgfit="cover" data-bgposition=("center bottom") data-bgrepeat="no-repeat" data-lazyload="img/slider/slider-bg-2.jpg" src="img/slider/slider-bg-2.jpg" /
            .caption.lfl data-easing="easeOutExpo" data-speed="300" data-start="1400" data-x="center" data-y="center"
              img alt=("Main Responsive") src="img/slider/responsive-main.png" 
            .caption.lfl data-easing="easeOutExpo" data-speed="300" data-start="1500" data-x="160" data-y="30"
              img alt=("giraf Responsive") src="img/slider/responsive-giraf.png" 
            .caption.lfl data-easing="easeOutExpo" data-speed="300" data-start="1600" data-x="280" data-y="170"
              img alt=("Lion Responsive") src="img/slider/responsive-lion.png" 
    .category-list
      .bg-overlay3
        .container style="width:100%"
          .row
            .client
              .category-logo
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .category-title
                    .carousel-controls
                      a.prev data-slide="prev" href="#category-carousel"
                        i.fa.fa-chevron-left
                      a.next data-slide="next" href="#category-carousel"
                        i.fa.fa-chevron-right
                      .clearfix
                  .clearfix
                  .row
                    #category-carousel.category-carousel.carousel.slide
                      .carousel-inner style=""
                        .item.active
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d1
                            .item-inner
                              a href="/categories?c=#{@resp['items'][0]['id']}"
                                img alt="" src=@resp['items'][0]['icon']
                                br
                                br
                                = @resp['items'][0]['name']
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d2
                            .item-inner
                              a href="/categories?c=#{@resp['items'][1]['id']}"
                                img alt="" src=@resp['items'][1]['icon']
                                br
                                br
                                = @resp['items'][1]['name']
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d3
                            .item-inner
                              a href="/categories?c=#{@resp['items'][2]['id']}"
                                img alt="" src=@resp['items'][2]['icon']
                                br
                                br
                                = @resp['items'][2]['name']
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d4
                            .item-inner
                              a href="/categories?c=#{@resp['items'][3]['id']}"
                                img alt="" src=@resp['items'][3]['icon']
                                br
                                br
                                = @resp['items'][3]['name']
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d3
                            .item-inner
                              a href="/categories?c=#{@resp['items'][4]['id']}"
                                img alt="" src=@resp['items'][4]['icon']
                                br
                                br
                                = @resp['items'][4]['name']
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d4
                            .item-inner
                              a href="/categories?c=#{@resp['items'][5]['id']}"
                                img alt="" src=@resp['items'][5]['icon']
                                br
                                br
                                = @resp['items'][5]['name']
                        .item
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d1
                            .item-inner
                              a href="/categories?c=#{@resp['items'][6]['id']}"
                                img alt="" src=@resp['items'][6]['icon']
                                br
                                br
                                = @resp['items'][6]['name']
                          .col-lg-2.col-md-2.col-sm-2.col-xs-2.item.animate_afc.d2
                            .item-inner
                              a href="/categories?c=#{@resp['items'][7]['id']}"
                                img alt="" src=@resp['items'][7]['icon']
                                br
                                br
                                = @resp['items'][7]['name']
                          
    .subscribe_section
      .subscribe_section_top
        .bg-overlay1
          .container
            .row
              .col-md-12.col-sm-12.col-xs-12.animate_aft.d3
                .app-service.text-center
                  h1
                    | Subscribe Now
                    br
                    img alt="" src="img/bottom.png" 
                  h4 Unlock the full Kidotainment Journey
                  h4 Hundreds of hours of content. See what’s included
                  a href=""
                    img alt="" src="img/btn_subscribe.png" style="width:40%" 
                  .divider
    .videos-list1
      .bg-overlay1
        .container
          .row
            .col-md-4.col-sm-5.col-xs-12.text-center.animate_afl.d1.col-xs-offset-1
              .videobox1.video video-link="#"
                figure
                  a href="#"
                    img.img-responsive.hovereffect alt="" src="img/video_placeholder.jpg" 
                .vidopts.opts-xs
                  ul
                    li.v-views
                      i.icon-view
                      span
                    li.v-likes
                      i.icon-like
                      span
                    li.pull-right.v-duration
                      i.icon-time
                      span
                  .clearfix
            .col-md-6.col-sm-7.col-xs-12.animate_afr.d3
              .app-service1
                h2.first-sec-name 
                h4.first-sec-tags
                  span Develops:
                  p style="display:inline;margin-left:5px;color:#65aad1;font-weight:normal;"
                h4.first-sec-age-range
                  span Age Range:
                  p style="display:inline;margin-left:5px;color:#65aad1;font-weight:normal;"
                p.first-sec-description
                .learnmore
                  a href="#"
                    | Learn More
                    i.icon-watch
            .col-md-10.col-sm-12.col-xs-12.text-center.animate_afl.d1.col-xs-offset-1
              div
                .carousel-controls1
                  a.prev data-slide="prev" href="#videos1-carousel"
                    i.fa.fa-chevron-left
                  a.next data-slide="next" href="#videos1-carousel"
                    i.fa.fa-chevron-right
                  .clearfix
              .clearfix
              .row
                #videos1-carousel.videos1-carousel.carousel.slide
                  .carousel-inner style=""
                    .item.active
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d1.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox1_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d2.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox1_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d3.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox1_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d4.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox1_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                    .item
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d1.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox1_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d2.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox1_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d3.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox1_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d4.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox1_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
    .videos-list2
      .bg-overlay2
        .container
          .row
            .col-md-6.col-sm-7.col-xs-12.animate_afr.d3.col-xs-offset-1
              .app-service2
                h2.second-sec-name 
                h4.second-sec-tags
                  span Develops:
                  p style="display:inline;margin-left:5px;font-weight:normal;"
                h4.second-sec-age-range
                  span Age Range:
                  p style="display:inline;margin-left:5px;font-weight:normal;"
                p.second-sec-description
                .learnmore
                  a href="#"
                    | Learn More
                    i.icon-watch
            .col-md-4.col-sm-5.col-xs-12.text-center.animate_afl.d1
              .videobox2.video video-link="#"
                figure
                  a.hm-video-link href="#"
                    img.img-responsive.hovereffect alt="" src="img/video_placeholder.jpg" 
                .vidopts.opts-xs
                  ul
                    li.v-views
                      i.icon-view
                      span
                    li.v-likes
                      i.icon-like
                      span
                    li.pull-right.v-duration
                      i.icon-time
                      span
                  .clearfix
            .col-md-10.col-sm-12.col-xs-12.text-center.animate_afl.d1.col-xs-offset-1
              div
                .carousel-controls2
                  a.prev data-slide="prev" href="#videos2-carousel"
                    i.fa.fa-chevron-left
                  a.next data-slide="next" href="#videos2-carousel"
                    i.fa.fa-chevron-right
                  .clearfix
              .clearfix
              .row
                #videos2-carousel.videos2-carousel.carousel.slide
                  .carousel-inner style=""
                    .item.active
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d1.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox2_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d2.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox2_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d3.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox2_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d4.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox2_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                    .item
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d1.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox2_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d2.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox2_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d3.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox2_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
                      .col-lg-3.col-md-3.col-sm-3.col-xs-2.item.animate_afc.d4.hm-video-block-sm
                        .item-inner
                          a.hm-video-link href="#"
                          .videobox2_sm.video video-link="#"
                            figure
                              a.hm-video-link href="#"
                                img.img-responsive.hovereffect.hm-sm-thumb alt="" src="img/video_placeholder.jpg" 
                            .vidopts.opts-xs
                              ul
                                li.visible-lg.visible-md.v-views
                                  i.icon-view
                                  span
                                li.visible-lg.visible-md.v-likes
                                  i.icon-like
                                  span
                                li.pull-right.v-duration
                                  i.icon-time
                                  span
                              .clearfix
    .store-list
      .bg-overlay1
        .container
          .row
            .col-md-6.col-sm-5.col-xs-12.animate_afr.d3.col-xs-offset-1
              .app-service
                h1 Kidotainment in Your Pocket
                h4
                  | We are on APP STORE and
                h4 GOOGLE PLAY STORE
                div style="margin-top:40px;"
                  a.store-btn-apple href="#"
                  a.store-btn-app.btn-adj-ar href="#"
            .col-md-5.col-sm-7.col-xs-12.text-center.animate_afl.d1
              img alt="iPhone5c" src="img/big1.png" 

  = render "footer"

  a.scrollup href="#"
    i.fa.fa-angle-up

javascript:

  function homepageAjaxCalls(data) {

    var allCollectionsData = data;

    var collectionIdOne = allCollectionsData['data']['data'][0]['id'];
    var collectionIdTwo = allCollectionsData['data']['data'][1]['id'];

    var dataToSend = { id_one: collectionIdOne, id_two: collectionIdTwo };
    console.log(allCollectionsData);

    bp_ajax({

      action: 'dn_home_data',
      method: 'get',
      data: dataToSend,
      contentType: 'application/json',
      notifications: false,
      spinner: true,
      callback: function(data) {
        console.log(data);
        /*
        var firstSecAgeRange = data['data']['featured_video_series'][1]['age_range'];
        var firstSecName = data['data']['featured_video_series'][1]['name'];
        var firstSecTags = data['data']['featured_video_series'][1]['tags'];
        var firstSecDescription = data['data']['featured_video_series'][1]['description'];

        var secondSecAgeRange = data['data']['featured_video_series'][2]['age_range'];
        var secondSecName = data['data']['featured_video_series'][2]['name'];
        var secondSecTags = data['data']['featured_video_series'][2]['tags'];
        var secondSecDescription = data['data']['featured_video_series'][2]['description'];

        var firstSecDataOne = data['data']['featured_video_series'][1]['data']['items'];
        var firstSecDataTwo = data['data']['featured_video_series'][2]['data']['items'];

        $('.first-sec-name').text(firstSecName);
        $('.first-sec-age-range p').text(firstSecAgeRange);
        $('.first-sec-tags p').text(firstSecTags);
        $('.first-sec-description').text(firstSecDescription);

        $('.second-sec-name').text(secondSecName);
        $('.second-sec-age-range p').text(secondSecAgeRange);
        $('.second-sec-tags p').text(secondSecTags);
        $('.second-sec-description').text(secondSecDescription);

        $('.videobox1 a img').attr('src', firstSecDataOne[0]['thumbs']['thumb']);
        $('.videobox1 a').attr('href', '/watch_season?id=' + firstSecDataOne[0]['id']);
        $('.videobox1 .vidopts .v-views span').text(firstSecDataOne[0]['views']);
        $('.videobox1 .vidopts .v-likes span').text(firstSecDataOne[0]['likes']);
        $('.videobox1 .vidopts .v-duration span').text(firstSecDataOne[0]['duration'].substring(3));

        $('.videobox2 a img').attr('src', firstSecDataTwo[1]['thumbs']['thumb']);
        $('.videobox2 a').attr('href', '/watch_season?id=' + firstSecDataTwo[1]['id']);
        $('.videobox2 .vidopts .v-views span').text(firstSecDataTwo[1]['views']);
        $('.videobox2 .vidopts .v-likes span').text(firstSecDataTwo[1]['likes']);
        $('.videobox2 .vidopts .v-duration span').text(firstSecDataTwo[1]['duration'].substring(3));

        $('#videos1-carousel .hm-video-block-sm').each(function(i) {

          $(this).find(".hm-video-link").attr('href', '/watch_season?id=' + firstSecDataOne[i+1]['id']);
          $(this).find('.hm-sm-thumb').attr('src', firstSecDataOne[i+1]['thumbs']['thumb']);
          $(this).find('.v-views span').text(firstSecDataOne[i+1]['views']);
          $(this).find('.v-likes span').text(firstSecDataOne[i+1]['likes']);
          $(this).find('.v-duration span').text(firstSecDataOne[i+1]['duration'].substring(3));

        });

        $('#videos2-carousel .hm-video-block-sm').each(function(i) {

          $(this).find(".hm-video-link").attr('href', '/watch_season?id=' + firstSecDataTwo[i+1]['id']);
          $(this).find('.hm-sm-thumb').attr('src', firstSecDataTwo[i+1]['thumbs']['thumb']);
          $(this).find('.v-views span').text(firstSecDataTwo[i+1]['views']);
          $(this).find('.v-likes span').text(firstSecDataTwo[i+1]['likes']);
          $(this).find('.v-duration span').text(firstSecDataTwo[i+1]['duration'].substring(3));

        });
        */
            
      }

    });


  }

  function getAllCollections() {

    bp_ajax({

      action: 'dn_get_all_collections',
      method: 'get',
      contentType: 'application/json',
      notifications: false,
      spinner: true,
      callback: function(data) {

        var dn_home_collections = data;

        homepageAjaxCalls(dn_home_collections);
            
      }

    });


  }



  $(document).ready(function () {

      //homepageAjaxCalls();

      getAllCollections();

      $("#close").click(function () {
          $("#subscription-top").fadeOut(500).hide();
      });

      $(window).scroll(function () {
          $("#subscription-top").stop().animate({
              "marginTop": ($(window).scrollTop()) + "px",
              "marginLeft": ($(window).scrollLeft()) + "px"
          }, "slow");
      });

  });
