.page-mask
  .page-loader
    .spinner
    | Loading...
.wrap

  = render "header"

  /! Content Start
  #main
    /! Slider Start
    .fullwidthbanner-container
    /! Slider End
    /! Title, Breadcrumb Start
    .breadcrumb-wrapper
      img alt="" src="img/bg_breadcrumb_sub.png" style=("position: absolute; left: 0%;width:100%") /
      .container
        .row
          .col-lg-6.col-md-6.col-xs-12.col-sm-6
            h2.title &nbsp;
    /! Title, Breadcrumb End
    /! Main Content start
    .content.category
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.m-t-m100
            .row
              .tabcordion
                ul#myTab.nav.nav-tabs.m-l-20
                  li.active
                    a data-toggle="tab" href="#login"
                      h4 Login
                  li
                    a data-toggle="tab" href="#register"
                      h4 Register
                .tab-content
                  #login.tab-pane.fade.active.in.p-20
                    .row.m-b-10
                      .col-md-7
                        .row
                          .col-md-12.m-b-20
                          .col-md-12.m-b-20.bg-signup
                            form
                              input.form-control.reg placeholder=("Enter Email Address") type="text" /
                              input.form-control.reg.m-t-5 placeholder=("Enter Password") type="text" /
                              .checkbox.checkbox
                                input#radio1 name="radio1" type="checkbox" value="option1" /
                                label for="radio1"  Remember Me
                                a.pull-right href=""  Forget Password
                              button.btn.btn-default.m-t-20.btn-theme-green style="width:100%"
                                | Login
                                i.fa.fa-arrow-right.m-l-20
                      .col-md-5
                        .col-md-12.m-b-5
                          span.or OR
                          hr/
                        .col-md-12.m-b-10
                          button.btn.btn-default.m-t-5.btn-theme-facebook style="width:100%"
                            i.fa.fa-facebook.pull-left.m-l-20.m-t-5
                            | Login with Facebook
                          button.btn.btn-default.m-t-5.btn-theme-twitter style="width:100%"
                            i.fa.fa-twitter.pull-left.m-l-20.m-t-5
                            | Login with Twitter
                          button.btn.btn-default.m-t-20.btn-theme-signup style="width:100%"  Sign Up Now!
                  #register.tab-pane.fade.p-20
                    .row.m-b-10
                      .col-md-7
                        .row
                          .col-md-12.m-b-20
                            h4 Quick Sign Up Below
                          .col-md-12.m-b-20.bg-signup
                            input.form-control.reg placeholder=("Enter Email Address") type="text" /
                            input.form-control.reg.m-t-5 placeholder=("Create Password") type="text" /
                            button.btn.btn-default.m-t-20.btn-theme-green style="width:100%"
                              | Sign Up
                              i.fa.fa-arrow-right.m-l-20
                      .col-md-5
                        .col-md-12.m-b-5
                          h4.m-b-5 &nbsp;
                          span.or OR
                          hr/
                        .col-md-12.m-b-10
                          button.btn.btn-default.m-t-5.btn-theme-facebook style="width:100%"
                            i.fa.fa-facebook.pull-left.m-l-20.m-t-5
                            | Continue with Facebook
                          button.btn.btn-default.m-t-5.btn-theme-twitter style="width:100%"
                            i.fa.fa-twitter.pull-left.m-l-20.m-t-5
                            | Continue with Twitter
          /! subscribe
          .col-lg-12.col-md-12.col-sm-12.bg-subscribe.m-t-40
            .row
              h2.text-center.theme-color Subscribe Now!
              h4.text-center
                | Unlock the full kidotainment Journey
                br/
                | Hundreds of hours of content
              .col-md-8.col-xs-offset-2.bg-signup
                .widget.search-form
                  label.m-b-10 style="font-size:16px;font-weight:600"  To Subscribe to this service, you will be charged SR.1 plus tax for 15 days.
                  .input-group
                    input.search-input.form-control onblur=("if(this.value=='')this.value='Enter Your Phone Number';") onfocus=("if(this.value=='Enter Your Phone Number')this.value='';") style="border:none;" type="text" value=("Enter Your Phone Number") /
                    span.input-group-btn
                      button.subscribe-btn.btn type="submit"
                        i.icon-arrow-right
                  /! /input-group
              .clearfix
              h4.text-center
                | Already Subscribed?
                a href=""  Login
          /! Left Section End
    /! Main Content end
    /! app store Start
    .store-list
      .bg-overlay1
        .container
          .row
            .col-md-6.col-sm-5.col-xs-12.animate_afr.d3.col-xs-offset-1
              .app-service
                h1 Kidotainment in Your Pocket
                h4 We are on APP STORE and
                h4 GOOGLE  PLAY STORE
                div style="margin-top:40px;"
                  a.store-btn-apple href="#"
                  a.store-btn-app.btn-adj-ar href="#"
            .col-md-5.col-sm-7.col-xs-12.text-center.animate_afl.d1
              img alt="iPhone5c" src="img/big1.png" /
    /! app store end
  /! Content End


  = render "footer"

  /! Scroll To Top
  a.scrollup href="#"
    i.fa.fa-angle-up

  javascript:
    $(document).ready(function(){

      $("#close").click(function(){
        $("#subscription-top").fadeOut(500).hide();
      });

      $(window).scroll(function(){
        $("#subscription-top").stop().animate({"marginTop": ($(window).scrollTop()) + "px", "marginLeft":($(window).scrollLeft()) + "px"}, "slow" );
      });


    });
    function changeState(el) {
        if (el.readOnly) el.checked=el.readOnly=false;
        else if (!el.checked) el.readOnly=el.indeterminate=true;
    }
