
<div class="page-mask">
  <div class="page-loader">
    <div class="spinner"></div>
    Loading... </div>
</div>
<div class="wrap"> 
  <!-- Header Start -->
  <header id="header"> 
    
    <!-- Main Header Start -->
    <div class="main-header">
      <div class="container"> 
        
        <!-- Logo Start -->
        <div class="logo pull-left">
          <h1> <a href="index.html"> <img src="img/logo.png" alt="" width="271" > </a> </h1>
        </div>
        <!-- Logo End --> 
        
        <!-- Menu Start -->
        <nav class="navbar-collapse menu">
          <div class=" pull-right"> <a href="javascript:;" class="language pull-right dropdown-toggle"  aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button"> Language <br>
            <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-min"  aria-labelledby="dLabel">
              <li><a href="watch-season.html" class="drp"> English</a></li>
              <li><a href="watch-season_ar.html" class="drp"> العربية</a></li>
            </ul>
            <div class="social-menu"><a href=""><img width="36" src="img/icon_facebook.png" alt="" ></a> &nbsp;<a href=""><img width="36" src="img/icon_twitter.png" alt="" ></a></div>
          </div>
          <a href="categories.html" class="option pull-right"><i class="icon-dots bgk-orange"></i> &nbsp;</a>
          <ul class="nav navbar-nav sf-menu">
            <li> <a href="index.html"><i class="icon-home bgk-orange"></i> Home </a> </li>
            <li> <a id="current" href="watch.html"><i class="icon-watch bgk-red"></i> Watch </a> </li>
            <li> <a href="games.html"><i class="icon-games bgk-blue"></i> Games </a> </li>
            <li> <a href="subscription.html"><i class="icon-subscribe bgk-green"></i> Subscribe </a> </li>
          </ul>
        </nav>
        <!-- Menu End --> 
      </div>
    </div>
    <!-- Main Header End --> 
  </header>
  <!-- Header End --> 
  
  <!-- Content Start -->
  <div id="main"> 
    <!-- Slider Start-->
    <div class="fullwidthbanner-container"> </div>
    <!-- Slider End--> 
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper"> <img src="img/bg_breadcrumb_no.png" alt="" style="position: absolute; left: 0%;width:100%">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">&nbsp;</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Title, Breadcrumb End--> 
    <!-- Main Content start-->
    <div class="content category">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 season-container-w m-t-m100">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-7 text-center animate_afl d1">
                      <div class="videobox1 video theme-box" video-link="#">
                        <figure> 
                          <!-- Video thumb_urlnail Start --> 
                          <video controls="controls" id="player2" width="100%" height="348" source type="video/mp4" src=<%=@resp['video']['videos']['mhd']%>></video> 
                        </figure>
                        
                        <!-- Video Info Start -->
                        <div class="vidopts opts-xs">
                          <ul >
                            <li><i class="icon-view"></i><%=@resp['video']['views']%></li>
                            <li><i class="icon-like"></i><%=@resp['video']['likes']%></li>
                            <li class="pull-right"><i class="icon-time"></i><%=@resp['video']['duration']%></li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <!-- Video Info End --> 
                        
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-5 animate_afr d3">
                      <div class="app-service1 theme-service">
                        <h2><%=@resp['video']['title']%></h2>
                        <h4><span>Develops:</span> <br><%=@resp['video']['tags']%></h4>
                        <h4><span>Age Range:</span> <br> 6 - 12 Years</h4>
                        <p>It is a series of short episodes about a traveler turtle, who takes his friends every day to a city in order to know more about its culture and landmarks. In each episode, friends experience any exciting adventures full of problems. At the end of each episode, there will be a question to the viewers about the name of the city that Hokayman visited with his friends. </p>
                        
                      </div>
                    </div>
                </div></div>
          <div class="col-lg-12 col-md-12 col-sm-12 season-container">
            <div class="row">
                
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                  
                  <div class="videobox2_sm video m-b-10 m-t-10" video-link="#"><h4 class="text-center cat-color m-t-0">ABC Coloring Town</h4> <figure> <!-- Video thumb_urlnail Start --> 
                      <a href="#"> <img src="img/video_placeholder.jpg" class="img-responsive hovereffect" alt="" /> </a> </figure>
                    
                    <!-- Video Info Start -->
                    <div class="vidopts opts-xs d-theme">
                          <ul>
                            <li><i class="icon-view"></i>1234</li>
                            <li><i class="icon-like"></i>9</li>
                            <li class="pull-right"><i class="icon-time"></i>02:47</li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                    <!-- Video Info End --> 
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                  
                  <div class="videobox2_sm video m-b-10 m-t-10" video-link="#"><h4 class="text-center cat-color m-t-0">ABC Coloring Town</h4> <figure> <!-- Video thumb_urlnail Start --> 
                      <a href="#"> <img src="img/video_placeholder.jpg" class="img-responsive hovereffect" alt="" /> </a> </figure>
                    
                    <!-- Video Info Start -->
                    <div class="vidopts opts-xs d-theme">
                          <ul>
                            <li><i class="icon-view"></i>1234</li>
                            <li><i class="icon-like"></i>9</li>
                            <li class="pull-right"><i class="icon-time"></i>02:47</li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                    <!-- Video Info End --> 
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                  
                  <div class="videobox2_sm video m-b-10 m-t-10" video-link="#"><h4 class="text-center cat-color m-t-0">ABC Coloring Town</h4> <figure> <!-- Video thumb_urlnail Start --> 
                      <a href="#"> <img src="img/video_placeholder.jpg" class="img-responsive hovereffect" alt="" /> </a> </figure>
                    
                    <!-- Video Info Start -->
                    <div class="vidopts opts-xs d-theme">
                          <ul>
                            <li><i class="icon-view"></i>1234</li>
                            <li><i class="icon-like"></i>9</li>
                            <li class="pull-right"><i class="icon-time"></i>02:47</li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                    <!-- Video Info End --> 
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                  
                  <div class="videobox2_sm video m-b-10 m-t-10" video-link="#"><h4 class="text-center cat-color m-t-0">ABC Coloring Town</h4> <figure> <!-- Video thumb_urlnail Start --> 
                      <a href="#"> <img src="img/video_placeholder.jpg" class="img-responsive hovereffect" alt="" /> </a> </figure>
                    
                    <!-- Video Info Start -->
                    <div class="vidopts opts-xs d-theme">
                          <ul>
                            <li><i class="icon-view"></i>1234</li>
                            <li><i class="icon-like"></i>9</li>
                            <li class="pull-right"><i class="icon-time"></i>02:47</li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                    <!-- Video Info End --> 
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                  
                  <div class="videobox2_sm video m-b-10 m-t-10" video-link="#"><h4 class="text-center cat-color m-t-0">ABC Coloring Town</h4> <figure> <!-- Video thumb_urlnail Start --> 
                      <a href="#"> <img src="img/video_placeholder.jpg" class="img-responsive hovereffect" alt="" /> </a> </figure>
                    
                    <!-- Video Info Start -->
                    <div class="vidopts opts-xs d-theme">
                          <ul>
                            <li><i class="icon-view"></i>1234</li>
                            <li><i class="icon-like"></i>9</li>
                            <li class="pull-right"><i class="icon-time"></i>02:47</li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                    <!-- Video Info End --> 
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                  
                  <div class="videobox2_sm video m-b-10 m-t-10" video-link="#"><h4 class="text-center cat-color m-t-0">ABC Coloring Town</h4> <figure> <!-- Video thumb_urlnail Start --> 
                      <a href="#"> <img src="img/video_placeholder.jpg" class="img-responsive hovereffect" alt="" /> </a> </figure>
                    
                    <!-- Video Info Start -->
                    <div class="vidopts opts-xs d-theme">
                          <ul>
                            <li><i class="icon-view"></i>1234</li>
                            <li><i class="icon-like"></i>9</li>
                            <li class="pull-right"><i class="icon-time"></i>02:47</li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                    <!-- Video Info End --> 
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                  
                  <div class="videobox2_sm video m-b-10 m-t-10" video-link="#"><h4 class="text-center cat-color m-t-0">ABC Coloring Town</h4> <figure> <!-- Video thumb_urlnail Start --> 
                      <a href="#"> <img src="img/video_placeholder.jpg" class="img-responsive hovereffect" alt="" /> </a> </figure>
                    
                    <!-- Video Info Start -->
                    <div class="vidopts opts-xs d-theme">
                          <ul>
                            <li><i class="icon-view"></i>1234</li>
                            <li><i class="icon-like"></i>9</li>
                            <li class="pull-right"><i class="icon-time"></i>02:47</li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                    <!-- Video Info End --> 
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                  
                  <div class="videobox2_sm video m-b-10 m-t-10" video-link="#"><h4 class="text-center cat-color m-t-0">ABC Coloring Town</h4> <figure> <!-- Video thumb_urlnail Start --> 
                      <a href="#"> <img src="img/video_placeholder.jpg" class="img-responsive hovereffect" alt="" /> </a> </figure>
                    
                    <!-- Video Info Start -->
                    <div class="vidopts opts-xs d-theme">
                          <ul>
                            <li><i class="icon-view"></i>1234</li>
                            <li><i class="icon-like"></i>9</li>
                            <li class="pull-right"><i class="icon-time"></i>02:47</li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                    <!-- Video Info End --> 
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                  
                  <div class="videobox2_sm video m-b-10 m-t-10" video-link="#"><h4 class="text-center cat-color m-t-0">ABC Coloring Town</h4> <figure> <!-- Video thumb_urlnail Start --> 
                      <a href="#"> <img src="img/video_placeholder.jpg" class="img-responsive hovereffect" alt="" /> </a> </figure>
                    
                    <!-- Video Info Start -->
                    <div class="vidopts opts-xs d-theme">
                          <ul>
                            <li><i class="icon-view"></i>1234</li>
                            <li><i class="icon-like"></i>9</li>
                            <li class="pull-right"><i class="icon-time"></i>02:47</li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                    <!-- Video Info End --> 
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                  
                  <div class="videobox2_sm video m-b-10 m-t-10" video-link="#"><h4 class="text-center cat-color m-t-0">ABC Coloring Town</h4> <figure> <!-- Video thumb_urlnail Start --> 
                      <a href="#"> <img src="img/video_placeholder.jpg" class="img-responsive hovereffect" alt="" /> </a> </figure>
                    
                    <!-- Video Info Start -->
                    <div class="vidopts opts-xs d-theme">
                          <ul>
                            <li><i class="icon-view"></i>1234</li>
                            <li><i class="icon-like"></i>9</li>
                            <li class="pull-right"><i class="icon-time"></i>02:47</li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                    <!-- Video Info End --> 
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                  
                  <div class="videobox2_sm video m-b-10 m-t-10" video-link="#"><h4 class="text-center cat-color m-t-0">ABC Coloring Town</h4> <figure> <!-- Video thumb_urlnail Start --> 
                      <a href="#"> <img src="img/video_placeholder.jpg" class="img-responsive hovereffect" alt="" /> </a> </figure>
                    
                    <!-- Video Info Start -->
                    <div class="vidopts opts-xs d-theme">
                          <ul>
                            <li><i class="icon-view"></i>1234</li>
                            <li><i class="icon-like"></i>9</li>
                            <li class="pull-right"><i class="icon-time"></i>02:47</li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                    <!-- Video Info End --> 
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                  
                  <div class="videobox2_sm video m-b-10 m-t-10" video-link="#"><h4 class="text-center cat-color m-t-0">ABC Coloring Town</h4> <figure> <!-- Video thumb_urlnail Start --> 
                      <a href="#"> <img src="img/video_placeholder.jpg" class="img-responsive hovereffect" alt="" /> </a> </figure>
                    
                    <!-- Video Info Start -->
                    <div class="vidopts opts-xs d-theme">
                          <ul>
                            <li><i class="icon-view"></i>1234</li>
                            <li><i class="icon-like"></i>9</li>
                            <li class="pull-right"><i class="icon-time"></i>02:47</li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                    <!-- Video Info End --> 
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="m-t-30 align-right">
              <div class="pagination-centered">
                <ul class="pagination">
                  <li class="disabled"><a style="cursor: pointer;"><i class="fa fa-chevron-left"></i></a></li>
                  <li class="active"><a style="cursor: pointer;">1</a></li>
                  <li><a style="cursor: pointer;">2</a></li>
                  <li><a style="cursor: pointer;">3</a></li>
                  <li><a style="cursor: pointer;">4</a></li>
                  <li><a style="cursor: pointer;">5</a></li>
                  <li><a style="cursor: pointer;"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Left Section End --> 
        </div>
      </div>
    </div>
    <!-- Main Content end--> 
    
    <!-- category scrol Start-->
    <div class="category-list inner">
      <div class="bg-overlay3">
        <div class="container" style="width:100%">
          <div class="row">
            <div class="client">
              <div class="category-logo">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="category-title">
                    <div class="carousel-controls1"> <a class="prev" href="#category-carousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a> <a class="next" href="#category-carousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="row">
                    <div id="category-carousel" class="category-carousel carousel slide">
                      <div class="carousel-inner" style="">
                        <div class="item active">
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item animate_afc d1">
                            <div class="item-inner"><a href="categories.html"><img alt="" src="img/categorieslogo/logo-1.png"><br>
                              <br>
                              ABC Counting</a></div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item animate_afc d2">
                            <div class="item-inner"><a href="categories.html"><img alt="" src="img/categorieslogo/logo-2.png"><br>
                              <br>
                              Creative Thinking</a></div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item animate_afc d3">
                            <div class="item-inner"><a href="categories.html"><img alt="" src="img/categorieslogo/logo-3.png"><br>
                              <br>
                              Toys</a></div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item animate_afc d4">
                            <div class="item-inner"><a href="categories.html"><img alt="" src="img/categorieslogo/logo-4.png"><br>
                              <br>
                              Cartoons</a></div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item animate_afc d3">
                            <div class="item-inner"><a href="categories.html"><img alt="" src="img/categorieslogo/logo-5.png"><br>
                              <br>
                              Science Fun</a></div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item animate_afc d4">
                            <div class="item-inner"><a href="categories.html"><img alt="" src="img/categorieslogo/logo-6.png"><br>
                              <br>
                              Nature</a></div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item animate_afc d1">
                            <div class="item-inner"><a href="categories.html"><img alt="" src="img/categorieslogo/logo-1.png"><br>
                              <br>
                              ABC Counting</a></div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item animate_afc d2">
                            <div class="item-inner"><a href="categories.html"><img alt="" src="img/categorieslogo/logo-2.png"><br>
                              <br>
                              Creative Thinking</a></div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item animate_afc d3">
                            <div class="item-inner"><a href="categories.html"><img alt="" src="img/categorieslogo/logo-3.png"><br>
                              <br>
                              Toys</a></div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item animate_afc d4">
                            <div class="item-inner"><a href="categories.html"><img alt="" src="img/categorieslogo/logo-4.png"><br>
                              <br>
                              Cartoons</a></div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item animate_afc d3">
                            <div class="item-inner"><a href="categories.html"><img alt="" src="img/categorieslogo/logo-5.png"><br>
                              <br>
                              Science Fun</a></div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item animate_afc d4">
                            <div class="item-inner"><a href="categories.html"><img alt="" src="img/categorieslogo/logo-6.png"><br>
                              <br>
                              Nature</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- category scrol End --> 
    
    <!-- app store Start-->
    <div class="store-list">
      <div class="bg-overlay1">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-5 col-xs-12 animate_afr d3 col-xs-offset-1">
              <div class="app-service">
                <h1>Kidotainment in Your Pocket</h1>
                <h4> We are on APP STORE and </h4>
                <h4 >GOOGLE  PLAY STORE</h4>
                <div style="margin-top:40px;"> <a class="store-btn-apple" href="#"></a> <a class="store-btn-app btn-adj-ar" href="#"></a> </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-7 col-xs-12 text-center animate_afl d1"> <img src="img/big1.png" alt="iPhone5c"> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- app store end--> 
  </div>
  <!-- Content End --> 
  <!-- Footer Start -->
  <footer id="footer"> 
    <!-- Footer Top Start -->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
            <h3>About Kidotainment</h3>
            <p> We develop mobile apps and games for children under 12 years and create a deep emotional attachment through videos. Our work revolves around the learning activities for children that 
              includes songs, rhymes, games and videos. </p>
          </section>
          <section class="col-lg-2 col-md-2 col-xs-12 col-sm-2 footer-two col-xs-offset-1">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="index.html"><i class="icon-home"></i> Home</a></li>
              <li><a href="watch.html"><i class="icon-watch"></i> Watch</a></li>
              <li><a href=""><i class="icon-games"></i> Games</a></li>
            </ul>
          </section>
          <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
            <h3>Help &amp; Support</h3>
            <ul>
              <li><a href="">News &amp; Updates</a></li>
              <li><a href="subscription.html">Subscribe</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Terms of Use</a></li>
              <li><a href="">Privacy Policy</a></li>
            </ul>
          </section>
          <section class="col-lg-3 col-md-3 col-xs-12 col-sm-4 footer-four">
            <h3>Follow The Iconic</h3>
            <ul>
              <li><a href=""><img width="36" src="img/icon_facebook.png" alt="" ></a> &nbsp;<a href=""><img width="36" src="img/icon_twitter.png" alt="" ></a></li>
              <li><span class="padding_tb">Subscribe to get all the
                content or simply email us at:
                info@kidotainment.com</span></li>
              <li>
                <div class="widget search-form">
                  <div class="input-group">
                    <input type="text" class="search-input form-control" onblur="if(this.value=='')this.value='Enter Your Number';" onfocus="if(this.value=='Enter Your Number')this.value='';" value="Enter Your Number">
                    <span class="input-group-btn">
                    <button class="subscribe-btn btn" type="submit"><i class="icon-arrow-right"></i></button>
                    </span> </div>
                  <!-- /input-group --> 
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
    <!-- Footer Top End --> 
    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 "> &copy; Kidotainment 2016. All Rights Reserved. </div>
          <!--<div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
            <ul class="social social-icons-footer-bottom">
              <li class="facebook"><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li class="twitter"><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li class="dribbble"><a href="#" data-toggle="tooltip" title="Dribble"><i class="fa fa-dribbble"></i></a></li>
              <li class="linkedin"><a href="#" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
              <li class="rss"><a href="#" data-toggle="tooltip" title="Rss"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>--> 
        </div>
      </div>
    </div>
    <!-- Footer Bottom End --> 
  </footer>
  <!-- Scroll To Top --> 
  <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a> </div>
<!-- Wrap End --> 


<script>

  MediaElementPlayer.prototype.buildquality = function(player, controls, layers, media) {
    var
        // create the quality button
        quality =  
        $('<div class="mejs-button mejs-loop-button"> <span title="Quality" class="fa fa-cog"> </span> <div class="v-quality v-hide"> <ul><li class="hd-btn">HD</li><li class="sd-btn">SD</li><li class="md-btn">MD</li><li class="mo-btn">MO</li><li class="gp-btn no-display">3GP</li></ul></div> </div>')
        // append it to the toolbar
        .appendTo(controls)
        // add a click toggle event
        .hover(function(e) {

          e.preventDefault();
          
          if ($('.v-quality').hasClass('v-hide'))
            $('.v-quality').removeClass('v-hide');
          else
            $('.v-quality').addClass('v-hide');

            
        });  
        $('.v-quality ul li').click(function(e) {

          e.preventDefault();

      $(this).siblings().removeClass('active-quality');
      $(this).addClass('active-quality');

      var hdVideoEl = hdUrl,
        sdVideoEl = sdUrl,
        mdVideoEl = mdUrl,
        moVideoEl = moUrl,
        gpVideoEl = gp3Url,
        currentTimeEl = media.currentTime;

      if (!($('.mejs-playpause-button').hasClass('mejs-pause'))) {
        if ($(this).hasClass("hd-btn")) {
          player.setSrc(hdVideoEl);
          if (!(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)) {
            media.setCurrentTime(currentTimeEl);
          }
        }
        if ($(this).hasClass("sd-btn")) {
          player.setSrc(sdVideoEl);
          if (!(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)) {
            media.setCurrentTime(currentTimeEl);
          }
        }
        if ($(this).hasClass("md-btn")) {
          player.setSrc(mdVideoEl);
          if (!(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)) {
            media.setCurrentTime(currentTimeEl);
          }
        }
        if ($(this).hasClass("mo-btn")) {
          player.setSrc(moVideoEl);
          if (!(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)) {
            media.setCurrentTime(currentTimeEl);
          }

        }
        if ($(this).hasClass("gp-btn")) {
          player.setSrc(gpVideoEl);
          if (!(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)) {
            media.setCurrentTime(currentTimeEl);
          }
        }
      }
      else {

        if ($(this).hasClass("hd-btn")) {
          player.pause();
          player.setSrc(hdVideoEl);
          if (!(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)) {
            media.setCurrentTime(currentTimeEl);
          }
          player.play();
        }
        if ($(this).hasClass("sd-btn")) {
          player.pause();
          player.setSrc(sdVideoEl);
          if (!(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)) {
            media.setCurrentTime(currentTimeEl);
          }
          player.play();
        }
        if ($(this).hasClass("md-btn")) {
          player.pause();
          player.setSrc(mdVideoEl);
          if (!(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)) {
            media.setCurrentTime(currentTimeEl);
          }
          player.play();
        }
        if ($(this).hasClass("mo-btn")) {
          player.pause();
          player.setSrc(moVideoEl);
          if (!(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)) {
            media.setCurrentTime(currentTimeEl);
          }
          player.play();

        }
        if ($(this).hasClass("gp-btn")) {
          player.pause();
          player.setSrc(gpVideoEl);
          if (!(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)) {
            media.setCurrentTime(currentTimeEl);
          }
          player.play();
        }
      }

    });   
  }
  
  var player = new MediaElementPlayer('#player2', {
  
    features: ['playpause', 'progress', 'volume', 'current', 'duration', 'quality', 'fullscreen']

  });

$(document).ready(function(){
	
	$("#close").click(function(){
		$("#subscription-top").fadeOut(500).hide();
	});
	
	$(window).scroll(function(){
		  $("#subscription-top").stop().animate({"marginTop": ($(window).scrollTop()) + "px", "marginLeft":($(window).scrollLeft()) + "px"}, "slow" );
		});
		
	
});	
</script>