.main-content p, .content p {
  max-width: 250px;
  max-height: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content-box{
  clear:none !important;
  max-height: 196px;
  overflow: hidden;
}
