// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.v-quality {
	
	ul {
		position: absolute;
		top: -220px;
		right: 20px;
		color: #000;
		li {
			padding: 10px;
			list-style: none;
			background-color: #000;
			&:hover { background-color: #f7f7f7; }
		}
	}
}

.active-quality {
	background-color: #f7f7f7 !important;
}
.fa-cog {
	font-size: 14px !important;
	color: #fff;
	margin: 8px 8px;
}
.v-hide {
	visibility: hidden;
}
.v-show {
	visibility: visible;
}