/! Footer Start
footer#footer
  /! Footer Top Start
  .footer-top
    .container
      .row
        section.col-lg-3.col-md-3.col-xs-12.col-sm-3.footer-one
          h3 عن كيدوتينمنت
          p
            | نحن في تطوير تطبيقات الجوال والألعاب للأطفال دون سن 12 عاما، وخلق ارتباط عاطفي عميق من خلال أشرطة الفيديو. عملنا يدور حول أنشطة التعلم للأطفال أن
            | يشمل الأغاني، والقوافي، والألعاب والفيديو.
        section.col-lg-2.col-md-2.col-xs-12.col-sm-2.footer-two.col-xs-offset-1
          h3 روابط سريعة
          ul
            li
              a href="/index_ar"
                i.icon-home
                | الرئيسية
            li
              a href=""
                i.icon-watch
                | مشاهدة
            li
              a href=""
                i.icon-games
                | ألعاب
        section.col-lg-3.col-md-3.col-xs-12.col-sm-3.footer-three
          h3 المساعدة والدعم
          ul
            li
              a href=""  الأخبار والتحديثات
            li
              a href=""  الاشتراك
            li
              a href=""  اتصل بنا
            li
              a href=""  تعليمات الاستخدام
            li
              a href=""  سياسة الخصوصية
        section.col-lg-3.col-md-3.col-xs-12.col-sm-4.footer-four
          h3 متابعة والمتميز
          ul
            li
              a href=""
                img alt="" src="img/icon_facebook.png" width="36" /
              | \&nbsp;
              a href=""
                img alt="" src="img/icon_twitter.png" width="36" /
            li
              span.padding_tb
                | الاشتراك للحصول على كل المحتوى أو ببساطة مراسلتنا عبر البريد الإلكتروني على العنوان التالي:
                | info@kidotainment.com
            li
              .widget.search-form
                .input-group
                  input.search-input.form-control placeholder=("أدخل رقم هاتفك المحمول") type="text" /
                  /! <input type="text" class="search-input form-control" onblur="if(this.value=='')this.value='أدخل رقم هاتفك المحمول';" onfocus="if(this.value=='Enter Your Number')this.value='';" value="أدخل رقم هاتفك المحمول"
                  span.input-group-btn
                    button.subscribe-btn.btn type="submit"
                      i.icon-arrow-right
                /! /input-group
  /! Footer Top End
