header#header
  .main-header
    .container
      .logo.pull-left
        h1
          a href="/"
            img alt="" src="img/logo.png" width="200"
      nav.navbar-collapse.menu
        .pull-right
          a.language.pull-right.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="javascript:;" role="button"
            | Language
            br/
            i.fa.fa-angle-down
          ul.dropdown-menu.dropdown-menu-right.dropdown-menu-min aria-labelledby="dLabel"
            li
              a.drp href="/"  English
            li
              a.drp href="/index_ar"  العربية
          .social-menu
            a href=""
              img alt="" src="img/icon_facebook.png" width="36"
            | \&nbsp;
            a href=""
              img alt="" src="img/icon_twitter.png" width="36"
        a.option.pull-right href="/categories"
          i.icon-dots.bgk-orange
          | \&nbsp;
        ul.nav.navbar-nav.sf-menu
          li
            a href="/" id=(request.original_fullpath == '/' ? 'current' : '')
              i.icon-home.bgk-dgreen
              | Home
          li
            a href="/watch" id=(request.original_fullpath == '/watch' ? 'current' : '')
              i.icon-watch.bgk-red
              | Watch
          li
            a href="/games" id=(request.original_fullpath == '/games' ? 'current' : '')
              i.icon-games.bgk-blue
              | Games
          li
            a href="/subscription" id=(request.original_fullpath == '/subscription' ? 'current' : '')
              i.icon-subscribe.bgk-green
              | Subscribe
